<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Template Instance View"
            icon="icons/sample.gif"
            category="org.eclipse.cdt.ui.views"
            class="com.cevelop.templator.instancespy.views.InstanceView"
            id="com.cevelop.templator.instancespy.views.InstanceView">
      </view>
   </extension>

</plugin>
