<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.cdt.codan.core.checkers" id="org.eclipse.cdt.codan.core.categories">
		<category id="com.cevelop.charwars.categories.CharWarsProblems" name="Char Wars Problems"/>
	</extension>
	
	<extension point="org.eclipse.cdt.codan.core.checkers">
		<checker
			class="com.cevelop.charwars.checkers.CharWarsChecker"
			id="com.cevelop.charwars.checkers.CharWarsChecker"
			name="CharWars Checker">
			
			<problem
				category="com.cevelop.charwars.categories.CharWarsProblems"
				defaultEnabled="true"
				defaultSeverity="Warning"
				description="Finds C-String variables."
				id="com.cevelop.charwars.problems.CStringProblem"
				messagePattern="Found C-String: {0}"
				name="Use std::string instead of C-Strings."
				markerType="com.cevelop.charwars.CharWarsMarker">
			</problem>
			
			<problem
				category="com.cevelop.charwars.categories.CharWarsProblems"
				defaultEnabled="true"
				defaultSeverity="Warning"
				description="Finds C-String aliases."
				id="com.cevelop.charwars.problems.CStringAliasProblem"
				messagePattern="Found C-String alias: {0}"
				name="Use std::string::size_type instead of C-String alias."
				markerType="com.cevelop.charwars.CharWarsMarker">
			</problem>
			
			<problem
				category="com.cevelop.charwars.categories.CharWarsProblems"
				defaultEnabled="true"
				defaultSeverity="Warning"
				description="Finds calls to &lt;cstring&gt; functions."
				id="com.cevelop.charwars.problems.CStringCleanupProblem"
				messagePattern="Found C-String function: {0}"
				name="Use std::string member functions instead of &lt;cstring&gt; functions."
				markerType="com.cevelop.charwars.CharWarsMarker">
			</problem>
			
			<problem
				category="com.cevelop.charwars.categories.CharWarsProblems"
				defaultEnabled="true"
				defaultSeverity="Warning"
				description="Finds C-Array variables."
				id="com.cevelop.charwars.problems.ArrayProblem"
				messagePattern="Found C-Array: {0}"
				name="Use std::array instead of C-Array."
				markerType="com.cevelop.charwars.CharWarsMarker">
			</problem>
			
			<problem
				category="com.cevelop.charwars.categories.CharWarsProblems"
				defaultEnabled="true"
				defaultSeverity="Warning"
				description="Finds C-String parameters."
				id="com.cevelop.charwars.problems.CStringParameterProblem"
				messagePattern="Found C-String parameter: {0}"
				name="Use std::string parameter instead of C-String parameter."
				markerType="com.cevelop.charwars.CharWarsMarker">
			</problem>
			
			<problem
				category="com.cevelop.charwars.categories.CharWarsProblems"
				defaultEnabled="true"
				defaultSeverity="Warning"
				description="Finds pointer parameters."
				id="com.cevelop.charwars.problems.PointerParameterProblem"
				messagePattern="Found pointer parameter: {0}"
				name="Use reference parameters instead of pointer parameters."
				markerType="com.cevelop.charwars.CharWarsMarker">
			</problem>
			
			<problem
				category="com.cevelop.charwars.categories.CharWarsProblems"
				defaultEnabled="true"
				defaultSeverity="Warning"
				description="Finds c_str() function calls that is passed to a function that could also take a std::string."
				id="com.cevelop.charwars.problems.CStrProblem"
				messagePattern="Found potentially unnecessary c_str() call."
				name="Use different overload that can take std::string directly."
				markerType="com.cevelop.charwars.CharWarsMarker">
			</problem>
		</checker>
	</extension>
	
	<extension point="ch.hsr.ifs.iltis.cpp.core.infoMarkerResolution">
		<resolution 
			class="com.cevelop.charwars.quickfixes.cstring.general.CStringQuickFix"
			problemId="com.cevelop.charwars.problems.CStringProblem">
			<info class="com.cevelop.charwars.info.CharwarsInfo"/>
		</resolution>
		<resolution 
			class="com.cevelop.charwars.quickfixes.cstring.general.CStringQuickFix"
			problemId="com.cevelop.charwars.problems.CStringAliasProblem">
			<info class="com.cevelop.charwars.info.CharwarsInfo"/>
		</resolution>
		<resolution 
			class="com.cevelop.charwars.quickfixes.cstring.cleanup.CStringCleanupQuickFix"
			problemId="com.cevelop.charwars.problems.CStringCleanupProblem">
			<info class="com.cevelop.charwars.info.CharwarsInfo"/>
		</resolution>
		<resolution 
			class="com.cevelop.charwars.quickfixes.cstr.CStrQuickFix"
			problemId="com.cevelop.charwars.problems.CStrProblem">
			<info class="com.cevelop.charwars.info.CharwarsInfo"/>
		</resolution>
		<resolution 
			class="com.cevelop.charwars.quickfixes.array.ArrayQuickFix"
			problemId="com.cevelop.charwars.problems.ArrayProblem">
			<info class="com.cevelop.charwars.info.CharwarsInfo"/>
		</resolution>
		<resolution 
			class="com.cevelop.charwars.quickfixes.pointerparameter.PointerParameterQuickFix"
			problemId="com.cevelop.charwars.problems.PointerParameterProblem">
			<info class="com.cevelop.charwars.info.CharwarsInfo"/>
		</resolution>
		<resolution 
			class="com.cevelop.charwars.quickfixes.cstring.parameter.CStringParameterQuickFix"
			problemId="com.cevelop.charwars.problems.CStringParameterProblem">
			<info class="com.cevelop.charwars.info.CharwarsInfo"/>
		</resolution>
   </extension>
   
   <extension point="org.eclipse.ui.ide.markerResolution">
   		<markerResolutionGenerator
   			class="ch.hsr.ifs.iltis.cpp.core.codan.marker.InfoProblemMarkerResolutionGenerator"
   			markerType="com.cevelop.charwars.CharWarsMarker">
   		</markerResolutionGenerator>
   </extension>
	
   <extension name="CharWars Marker" point="org.eclipse.core.resources.markers" id="com.cevelop.charwars.CharWarsMarker">
   		<super type="org.eclipse.cdt.codan.core.codanProblem"/>         
   		<persistent value="true"/>
   </extension>
   
   <extension point="org.eclipse.ui.editors.annotationTypes">
     <type
        super="org.eclipse.ui.workbench.texteditor.warning"
        markerType="com.cevelop.charwars.CharWarsMarker"
        name="com.cevelop.charwars.CharWarsAnnotation"
        markerSeverity="1"/>
  </extension>


	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="com.cevelop.charwars.CharWarsAnnotation"
			colorPreferenceKey="com.cevelop.charwars.keys.color"
			colorPreferenceValue="0,170,79"
            overviewRulerPreferenceKey="com.cevelop.charwars.keys.overviewruler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="com.cevelop.charwars.keys.text"
            textPreferenceValue="true"
            textStylePreferenceKey="com.cevelop.charwars.keys.textstyle"
            textStylePreferenceValue="PROBLEM_UNDERLINE"
            verticalRulerPreferenceKey="com.cevelop.charwars.keys.verticalruler"
            verticalRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="com.cevelop.charwars.keys.ShowInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="com.cevelop.charwars.keys.GoToNextNavigationTarget"
            isGoToNextNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="com.cevelop.charwars.keys.GoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            label="CharWars Marker"
            icon="icons/icon-green-star.png"
            quickFixIcon="icons/icon-green-star.png"
            symbolicIcon="warning"
            contributesToHeader="false"
            includeOnPreferencePage="true"
            presentationLayer="0">
		</specification>
	</extension>
  
  <extension point="ch.hsr.ifs.iltis.cpp.versionator.versionmodification">
  	<ALL_VERSIONS>
  		<group name="CharWars">
  			<versionModification
  				checkedByDefault="false"
  				name="Use different overload that can take std::string directly."
  				operationClass="com.cevelop.charwars.operation.EnableCStrProblemOperation">
  			</versionModification>
			<versionModification
  				checkedByDefault="false"
  				name="Use reference parameters instead of pointer parameters."
  				operationClass="com.cevelop.charwars.operation.EnablePointerParameterProblemOperation">
  			</versionModification>
			<versionModification
  				checkedByDefault="false"
  				name="Use std::array instead of C-Arrays."
  				operationClass="com.cevelop.charwars.operation.EnableArrayProblemOperation">
  			</versionModification>
			<versionModification
  				checkedByDefault="false"
  				name="Use std::string instead of C-Strings."
  				operationClass="com.cevelop.charwars.operation.EnableCStringProblemOperation">
  			</versionModification>
			<versionModification
  				checkedByDefault="false"
  				name="Use std::string member functions instead of &lt;cstring&gt; functions."
  				operationClass="com.cevelop.charwars.operation.EnableCStringCleanupProblemOperation">
  			</versionModification>
			<versionModification
  				checkedByDefault="false"
  				name="Use std::string parameter instead of C-String parameter."
  				operationClass="com.cevelop.charwars.operation.EnableCStringParameterProblemOperation">
  			</versionModification>
			<versionModification
  				checkedByDefault="false"
  				name="Use std::string::size_type instead of C-String alias."
  				operationClass="com.cevelop.charwars.operation.EnableCStringAliasProblemOperation">
  			</versionModification>
  		</group>
  	</ALL_VERSIONS>
  </extension>
</plugin>
