<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
   <!-- Preferences -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="com.cevelop.codeanalysator.core.preference.guideline.page"
            category="org.eclipse.cdt.codan.ui.preferences.CodanPreferencePage"
            class="com.cevelop.codeanalysator.core.preference.GuidelinePreferencePage"
            name="Guidelines">
      </page>
   </extension>

   <!-- Codeanalysator Guideline -->
   <extension-point id="com.cevelop.codeanalysator.core.guideline" 
       name="CodeAnalysatorGuideline" 
       schema="schema/com.cevelop.codeanalysator.Guideline.exsd" />

   <!-- Properties -->
   <extension point="org.eclipse.ui.propertyPages">
      <page id="com.cevelop.codeanalysator.core.preference.guideline.page"
            category="org.eclipse.cdt.codan.ui.properties.codanProblemsPropertyPage"
            class="com.cevelop.codeanalysator.core.preference.GuidelinePreferencePage"
            name="Guidelines">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension name="CodeAnalysator Commands" point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            id="com.cevelop.codeanalysator.core.ui.StructClassSwitcher"
            name="Switch Struct/Class">
      </command>
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            id="com.cevelop.codeanalysator.core.ui.Overrider"
            name="Apply Overrider">
      </command>
   </extension>

   <extension name="CodeAnalysator Command Handlers"
              point="org.eclipse.ui.handlers">
      <handler
            class="com.cevelop.codeanalysator.core.quickassist.handler.StructClassSwitcherRefactoringHandler"
            commandId="com.cevelop.codeanalysator.core.ui.StructClassSwitcher">
      </handler>
      <handler
            class="com.cevelop.codeanalysator.core.quickassist.handler.OverriderRefactoringHandler"
            commandId="com.cevelop.codeanalysator.core.ui.Overrider">
      </handler>
   </extension>

   <extension
         name="CodeAnalysator Menu Contributions"
         point="org.eclipse.ui.menus">
      <!-- Refactor Main Menu -->
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.jdt.ui.refactoring.menu?endof=codingGroup">
         <command commandId="com.cevelop.codeanalysator.core.ui.StructClassSwitcher"/>
      </menuContribution>

      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.jdt.ui.refactoring.menu?endof=codingGroup">
         <command commandId="com.cevelop.codeanalysator.core.ui.Overrider"/>
      </menuContribution>

      <!-- Refactor Popup Menu -->
      <menuContribution locationURI="popup:org.eclipse.cdt.ui.refactoring.menu?endof=codingGroup">
         <command commandId="com.cevelop.codeanalysator.core.ui.StructClassSwitcher"/>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.cdt.ui.refactoring.menu?endof=codingGroup">
         <command commandId="com.cevelop.codeanalysator.core.ui.Overrider"/>
      </menuContribution>
   </extension>

   	<extension
         point="org.eclipse.cdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="com.cevelop.codeanalysator.core.quickassist.OverriderQuickAssist"
            id="com.cevelop.codeanalysator.core.plugin.assist.Overrider"
            name="com.cevelop.codeanalysator.core..plugin.assist.OverriderQuickAssist">
      </quickAssistProcessor>
   </extension>   		
   <extension
         point="org.eclipse.cdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="com.cevelop.codeanalysator.core.quickassist.StructClassSwitcherQuickAssist"
            id="com.cevelop.codeanalysator.core.quickassist.StructClassSwitcher"
            name="com.cevelop.codeanalysator.core.quickassist.StructClassSwitcherQuickAssist">
      </quickAssistProcessor>
   </extension>
</plugin>
	