<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- Commands -->
	<extension point="org.eclipse.ui.commands">
		<command
            id="com.cevelop.includator.command.OrganizeIncludes"
            name="Organize Includes">
    	</command>
    	<command
            id="com.cevelop.includator.command.DirectlyOrganizeIncludesAction"
            name="Auto Organize Includes">
    	</command>
		<command
        	id="com.cevelop.includator.command.FindUnusedFilesAction"
        	name="Find Unused Files">
    	</command>
    	<command
        	id="com.cevelop.includator.command.FindUnusedIncludesAction"
        	name="Find Unused Includes">
    	</command>
    	<command
            id="com.cevelop.includator.command.DirectlyIncludeReferencedDeclarationsAction"
            name="Directly Include Referenced Declarations">
    	</command>
    	<!--command
            id="com.cevelop.includator.command.ReplaceIncludesWithFwdAction"
            name="Replace Includes with Forward Declarations (EXPERIMENTAL)">
    	</command-->
    	<!--command
            id="com.cevelop.includator.command.RemoveStaticCoverageMarkersAction"
            name="Remove Static Code Coverage Annotations">
    	</command-->
    	<!--command
            id="com.cevelop.includator.command.StaticCoverageAnalysisAction"
            name="Static Code Coverage (EXPERIMENTAL)">
    	</command-->
    	<command
            id="com.cevelop.includator.command.RemoveAllIncludatorMarkersAction"
            name="Remove all Includator Markers">
    	</command>
    	<command
            id="com.cevelop.includator.command.AdaptIndexAction"
            name="Extend Symbol Awareness">
    	</command>
	</extension>
	
	<!-- Handlers -->
	<extension point="org.eclipse.ui.handlers">
		<handler
            class="com.cevelop.includator.ui.actions.OrganizeIncludesAction"
            commandId="com.cevelop.includator.command.OrganizeIncludes">
         	<enabledWhen>
        		<test property="com.cevelop.includator.ui.helpers.handlers.cProjectRelatedItemSelected"></test>
     		</enabledWhen>
      	</handler>
      	<handler
            class="com.cevelop.includator.ui.actions.DirectlyOrganizeIncludesAction"
            commandId="com.cevelop.includator.command.DirectlyOrganizeIncludesAction">
         	<enabledWhen>
        		<test property="com.cevelop.includator.ui.helpers.handlers.cProjectRelatedItemSelected"></test>
     		</enabledWhen>
      	</handler>
	  	<handler
            class="com.cevelop.includator.ui.actions.FindUnusedFilesAction"
            commandId="com.cevelop.includator.command.FindUnusedFilesAction">
     		<enabledWhen>
        		<test property="com.cevelop.includator.ui.helpers.handlers.cProjectRelatedItemSelected"></test>
     		</enabledWhen>
    	</handler>
      	<handler
            class="com.cevelop.includator.ui.actions.FindUnusedIncludesAction"
            commandId="com.cevelop.includator.command.FindUnusedIncludesAction">
         	<enabledWhen>
        		<test property="com.cevelop.includator.ui.helpers.handlers.cProjectRelatedItemSelected"></test>
     		</enabledWhen>
      	</handler>
      	<handler
            class="com.cevelop.includator.ui.actions.DirectlyIncludeReferencedDeclarationsAction"
            commandId="com.cevelop.includator.command.DirectlyIncludeReferencedDeclarationsAction">
         	<enabledWhen>
        		<test property="com.cevelop.includator.ui.helpers.handlers.cProjectRelatedItemSelected"></test>
     		</enabledWhen>
      	</handler>
     	 <!--handler
            class="com.cevelop.includator.ui.actions.ReplaceIncludesWithFwdAction"
            commandId="com.cevelop.includator.command.ReplaceIncludesWithFwdAction">
         	<enabledWhen>
        		<test property="com.cevelop.includator.ui.helpers.handlers.cProjectRelatedItemSelected"></test>
     		</enabledWhen>
      	</handler-->
      	<!--handler
            class="com.cevelop.includator.ui.actions.RemoveStaticCoverageMarkersAction"
            commandId="com.cevelop.includator.command.RemoveStaticCoverageMarkersAction">
         	<enabledWhen>
        		<test property="com.cevelop.includator.ui.helpers.handlers.cProjectRelatedItemSelected"></test>
     		</enabledWhen>
      	</handler-->
      	<!--handler
            class="com.cevelop.includator.ui.actions.StaticCoverageAnalysisAction"
            commandId="com.cevelop.includator.command.StaticCoverageAnalysisAction">
         	<enabledWhen>
        		<test property="com.cevelop.includator.ui.helpers.handlers.cProjectRelatedItemSelected"></test>
     		</enabledWhen>
      	</handler-->
      	<handler
            class="com.cevelop.includator.ui.actions.RemoveAllIncludatorMarkersAction"
            commandId="com.cevelop.includator.command.RemoveAllIncludatorMarkersAction">
      	</handler>
      	<handler
            class="com.cevelop.includator.ui.actions.AdaptIndexAction"
            commandId="com.cevelop.includator.command.AdaptIndexAction">
         	<enabledWhen>
        		<test property="com.cevelop.includator.ui.helpers.handlers.cProjectSelected"></test>
     		</enabledWhen>
      	</handler>
	</extension>
	
	<!-- Menu Items -->
	<extension point="org.eclipse.ui.menus">
		<!-- Main Menu Extension -->
		<menuContribution
        	locationURI="menu:org.eclipse.ui.main.menu">
        	<menu
            	id="com.cevelop.includator.menu"
            	label="&amp;Includator">
            <command
                commandId="com.cevelop.includator.command.OrganizeIncludes"
                label="Organize Includes"
                icon="icons/organizeIncludes.gif"
                style="push"
                tooltip="Suggests to add and remove include statements for every used declaration  in the selected resource and its children (if any). You might have to run this multiple times to get an optimal include structure.">
            </command>
            <command
                commandId="com.cevelop.includator.command.DirectlyOrganizeIncludesAction"
                label="Auto Organize Includes"
                icon="icons/organizeIncludes.gif"
                style="push"
                tooltip="Directly applies all Organize Includes suggestions Suggests to in the selected resource and its children (if any). You might have to run this multiple times to get an optimal include structure.">
            </command>
            <command
                  commandId="com.cevelop.includator.command.FindUnusedFilesAction"
                  icon="icons/unusedFile.gif"
                  label="Find Unused Files"
                  style="push"
                  tooltip="Finds unused files in the selected resource and its children (if any).">
            </command>
            <command
                commandId="com.cevelop.includator.command.FindUnusedIncludesAction"
                label="Find Unused Includes"
                icon="icons/unusedInclude.gif"
                style="push"
                tooltip="Finds unused includes in the selected resource and its children (if any).">
            </command>
            <command
                commandId="com.cevelop.includator.command.DirectlyIncludeReferencedDeclarationsAction"
                label="Directly Include Referenced Declarations"
                icon="icons/addInclude.gif"
                style="push"
                tooltip="Suggests to add include statements for every used declaration in the selected resource and its children (if any).">
            </command>
            <separator
                  name="com.cevelop.includator.staticAnalysis"
                  visible="true">
            </separator>
            <!--command
                commandId="com.cevelop.includator.command.ReplaceIncludesWithFwdAction"
                label="Replace Includes with Forward Declarations (EXPERIMENTAL)"
                icon="icons/includeToFwd.gif"
                style="push"
                tooltip="Locates definitions which can, instead of being included, be used with a forward declaration in the selected resource and its children (if any).">
            </command-->
            <!--separator
                  name="com.cevelop.includator.experimental"
                  visible="true">
            </separator-->
            <!--command
                commandId="com.cevelop.includator.command.RemoveStaticCoverageMarkersAction"
                label="Replace Includes with Forward Declarations (EXPERIMENTAL)"
                icon="icons/delete.gif"
                style="push"
                tooltip="Deletes all the static code coverage markers currently visible in the active project.">
            </command-->
            <!--command
                commandId="com.cevelop.includator.command.StaticCoverageAnalysisAction"
                label="Static Code Coverage (EXPERIMENTAL)"
                icon="icons/codeCoverage.gif"
                style="push"
                tooltip="Finds code that is included but not in use.">
            </command-->
            <!--separator
                  name="com.cevelop.includator.coverageAnalysis"
                  visible="true">
            </separator-->
            <command
                commandId="com.cevelop.includator.command.RemoveAllIncludatorMarkersAction"
                label="Remove all Includator Markers"
                icon="icons/delete.gif"
                style="push"
                tooltip="Removes all the Markers which where generated with static analysis.">
            </command>
            <command
                commandId="com.cevelop.includator.command.AdaptIndexAction"
                label="Extend Symbol Awareness"
                style="push"
                tooltip="Extends Includator&apos;s symbol awareness of the current project so Includator also knows about not yet included symbols.">
            </command>
    		</menu>
    	</menuContribution>
    	<!-- Popup Menu Extension -->
		<menuContribution
        	locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        	<menu
            	id="com.cevelop.includator.popup"
            	label="&amp;Includator">
            <command
                commandId="com.cevelop.includator.command.OrganizeIncludes"
                label="Organize Includes"
                icon="icons/organizeIncludes.gif"
                style="push"
                tooltip="Suggests to add and remove include statements for every used declaration  in the selected resource and its children (if any). You might have to run this multiple times to get an optimal include structure.">
            	<visibleWhen
                	checkEnabled="false">
                  	<count value="1"></count>
            	</visibleWhen>
            </command>
            <command
                commandId="com.cevelop.includator.command.DirectlyOrganizeIncludesAction"
                label="Auto Organize Includes"
                icon="icons/organizeIncludes.gif"
                style="push"
                tooltip="Directly applies all Organize Includes suggestions Suggests to in the selected resource and its children (if any). You might have to run this multiple times to get an optimal include structure.">
            </command>
            <command
                commandId="com.cevelop.includator.command.FindUnusedFilesAction"
                icon="icons/unusedFile.gif"
                label="Find Unused Files"
                style="push"
                tooltip="Finds unused files in the selected resource and its children (if any).">
            	<visibleWhen
                	checkEnabled="false">
                  	<count value="1"></count>
            	</visibleWhen>
            </command>
            <command
                commandId="com.cevelop.includator.command.FindUnusedIncludesAction"
                label="Find Unused Includes"
                icon="icons/unusedInclude.gif"
                style="push"
                tooltip="Finds unused includes in the selected resource and its children (if any).">
                <visibleWhen
                	checkEnabled="false">
                  	<count value="1"></count>
            	</visibleWhen>
            </command>
            <command
                commandId="com.cevelop.includator.command.DirectlyIncludeReferencedDeclarationsAction"
                label="Directly Include Referenced Declarations"
                icon="icons/addInclude.gif"
                style="push"
                tooltip="Suggests to add include statements for every used declaration in the selected resource and its children (if any).">
                <visibleWhen
                	checkEnabled="false">
                  	<count value="1"></count>
            	</visibleWhen>
            </command>
            <separator
                  name="com.cevelop.includator.staticAnalysis"
                  visible="true">
            </separator>
            <!--command
                commandId="com.cevelop.includator.command.ReplaceIncludesWithFwdAction"
                label="Replace Includes with Forward Declarations (EXPERIMENTAL)"
                icon="icons/includeToFwd.gif"
                style="push"
                tooltip="Locates definitions which can, instead of being included, be used with a forward declaration in the selected resource and its children (if any).">
                <visibleWhen
                	checkEnabled="false">
                  	<count value="1"></count>
            	</visibleWhen>
            </command-->
            <!--separator
                  name="com.cevelop.includator.experimental"
                  visible="true">
            </separator-->
            <!--command
                commandId="com.cevelop.includator.command.RemoveStaticCoverageMarkersAction"
                label="Replace Includes with Forward Declarations (EXPERIMENTAL)"
                icon="icons/delete.gif"
                style="push"
                tooltip="Deletes all the static code coverage markers currently visible in the active project.">
                <visibleWhen
                	checkEnabled="false">
                  	<count value="1"></count>
            	</visibleWhen>
            </command-->
            <!--command
                commandId="com.cevelop.includator.command.StaticCoverageAnalysisAction"
                label="Static Code Coverage (EXPERIMENTAL)"
                icon="icons/codeCoverage.gif"
                style="push"
                tooltip="Finds code that is included but not in use.">
                <visibleWhen
                	checkEnabled="false">
                  	<count value="1"></count>
            	</visibleWhen>
            </command-->
            <!--separator
                  name="com.cevelop.includator.coverageAnalysis"
                  visible="true">
            </separator-->
            <command
                commandId="com.cevelop.includator.command.RemoveAllIncludatorMarkersAction"
                label="Remove all Includator Markers"
                icon="icons/delete.gif"
                style="push"
                tooltip="Removes all the Markers which where generated with static analysis.">
                <visibleWhen
                	checkEnabled="false">
                  	<count value="*"></count>
            	</visibleWhen>
            </command>
            <command
                commandId="com.cevelop.includator.command.AdaptIndexAction"
                label="Extend Symbol Awareness"
                style="push"
                tooltip="Extends Includator&apos;s symbol awareness of the current project so Includator also knows about not yet included symbols.">
                <visibleWhen
                	checkEnabled="false">
                  	<count value="1"></count>
            	</visibleWhen>
            </command>
            <visibleWhen
            	checkEnabled="false">
               	<test
                	property="com.cevelop.includator.ui.helpers.menu.cProjectRelatedItemInProjectExplorerSelected">
            	</test>
            </visibleWhen>
    		</menu>
    	</menuContribution>
	</extension>
	
	<!-- Shortcuts -->
	<!-- M1==Ctrl, M2==Shift -->
	<extension point="org.eclipse.ui.bindings"> 
		<key
			commandId="com.cevelop.includator.command.OrganizeIncludes"
			contextId="org.eclipse.cdt.ui.cEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+I"/>
		<key
			commandId="com.cevelop.includator.command.DirectlyOrganizeIncludesAction"
			contextId="org.eclipse.cdt.ui.cEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M2+M3+I"/>
	</extension>
	
	<!-- Property Testers -->
	<extension point="org.eclipse.core.expressions.propertyTesters">
    	<propertyTester
        	class="com.cevelop.includator.ui.helpers.HandlerPropertyTester"
            id="com.cevelop.includator.ui.helpers.property.handlerpropertytester"
            namespace="com.cevelop.includator.ui.helpers.handlers"
            properties="cProjectRelatedItemSelected,cProjectSelected"
            type="java.lang.Object">
   		</propertyTester>
    	<propertyTester
        	class="com.cevelop.includator.ui.helpers.MenuPropertyTester"
           	id="com.cevelop.includator.ui.helpers.property.menupropertytester"
           	namespace="com.cevelop.includator.ui.helpers.menu"
           	properties="cProjectRelatedItemInProjectExplorerSelected"
           	type="java.lang.Object">
     	</propertyTester>
   	</extension>
	
	<!-- QuickFixes -->
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="com.cevelop.includator.ui.IncludatorResolutionGenerator"
			markerType="com.cevelop.includator.unusedincludemarker">
		</markerResolutionGenerator>
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="com.cevelop.includator.ui.IncludatorResolutionGenerator"
			markerType="com.cevelop.includator.addincludemarker">
		</markerResolutionGenerator>
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="com.cevelop.includator.ui.IncludatorResolutionGenerator"
			markerType="com.cevelop.includator.unusedfilemarker">
		</markerResolutionGenerator>
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="com.cevelop.includator.ui.IncludatorResolutionGenerator"
			markerType="com.cevelop.includator.includetofwdmarker">
		</markerResolutionGenerator>
	</extension>
	
	<!-- AnnotationTypes (links annotation with markers) -->
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="com.cevelop.includator.unusedincludemarker"
			name="com.cevelop.includator.unusedincludeannotation">
		</type>
		<type
			markerType="com.cevelop.includator.addincludemarker"
			name="com.cevelop.includator.addincludeannotation">
		</type>
		<type
			markerType="com.cevelop.includator.includetofwdmarker"
			name="com.cevelop.includator.includetofwdannotation">
		</type>
		<type
			markerType="com.cevelop.includator.coverageInUseMarker"
			name="com.cevelop.includator.annotations.codeSectionInUseAnnotation">
		</type>
		<type
			markerType="com.cevelop.includator.coverageImplicitlyInUseMarker"
			name="com.cevelop.includator.annotations.codeSectionImplicitlyInUseAnnotation">
		</type>
		<type
			markerType="com.cevelop.includator.coverageNotInUseMarker"
			name="com.cevelop.includator.annotations.codeSectionNotInUseAnnotation">
		</type>
		<type
			markerType="com.cevelop.includator.unusedfilemarker"
			name="com.cevelop.includator.unusedfileannotation">
		</type>
	</extension>
	
	<!-- Annotations -->
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			colorPreferenceValue="254,155,0"
			annotationType="com.cevelop.includator.unusedincludeannotation"
			verticalRulerPreferenceValue="true"
			colorPreferenceKey="indexResultIndicationColor"
			contributesToHeader="false"
			overviewRulerPreferenceValue="true"
			presentationLayer="3"
			textStylePreferenceValue="NONE"
			symbolicIcon="warning"
			icon="icons/unusedInclude.gif"
			label="Unused Include Statement"
			textPreferenceValue="true"
			textPreferenceKey="indexResultIndication"
			verticalRulerPreferenceKey="indexResultIndicationInVerticalRuler"
			overviewRulerPreferenceKey="indexResultIndicationInOverviewRuler"
			showInNextPrevDropdownToolbarActionKey="isIndexResultInNextPrevDropdownToolbarAction"
			showInNextPrevDropdownToolbarAction="true"
			isGoToNextNavigationTargetKey="isIndexResultGoToNextNavigationTarget"
			isGoToNextNavigationTarget="false"
			isGoToPreviousNavigationTargetKey="isIndexResultGoToPreviousNavigationTarget"
			isGoToPreviousNavigationTarget="false">
		</specification>
		<specification
			colorPreferenceValue="254,155,0"
			annotationType="com.cevelop.includator.addincludeannotation"
			verticalRulerPreferenceValue="true"
			colorPreferenceKey="indexResultIndicationColor"
			contributesToHeader="false"
			overviewRulerPreferenceValue="true"
			presentationLayer="3"
			textStylePreferenceValue="NONE"
			symbolicIcon="warning"
			icon="icons/addInclude.gif"
			label="Add Include Statement"
			textPreferenceValue="true"
			textPreferenceKey="indexResultIndication"
			verticalRulerPreferenceKey="indexResultIndicationInVerticalRuler"
			overviewRulerPreferenceKey="indexResultIndicationInOverviewRuler"
			showInNextPrevDropdownToolbarActionKey="isIndexResultInNextPrevDropdownToolbarAction"
			showInNextPrevDropdownToolbarAction="true"
			isGoToNextNavigationTargetKey="isIndexResultGoToNextNavigationTarget"
			isGoToNextNavigationTarget="false"
			isGoToPreviousNavigationTargetKey="isIndexResultGoToPreviousNavigationTarget"
			isGoToPreviousNavigationTarget="false">
		</specification>
		<specification
			colorPreferenceValue="254,155,0"
			annotationType="com.cevelop.includator.includetofwdannotation"
			verticalRulerPreferenceValue="true"
			colorPreferenceKey="indexResultIndicationColor"
			contributesToHeader="false"
			overviewRulerPreferenceValue="true"
			presentationLayer="3"
			textStylePreferenceValue="NONE"
			symbolicIcon="warning"
			icon="icons/includeToFwd.gif"
			label="Replace include with forward declaration"
			textPreferenceValue="true"
			textPreferenceKey="indexResultIndication"
			verticalRulerPreferenceKey="indexResultIndicationInVerticalRuler"
			overviewRulerPreferenceKey="indexResultIndicationInOverviewRuler"
			showInNextPrevDropdownToolbarActionKey="isIndexResultInNextPrevDropdownToolbarAction"
			showInNextPrevDropdownToolbarAction="true"
			isGoToNextNavigationTargetKey="isIndexResultGoToNextNavigationTarget"
			isGoToNextNavigationTarget="false"
			isGoToPreviousNavigationTargetKey="isIndexResultGoToPreviousNavigationTarget"
			isGoToPreviousNavigationTarget="false">
		</specification>
		<specification
			annotationType="com.cevelop.includator.annotations.codeSectionInUseAnnotation"
			colorPreferenceKey="codeSectionInUse_color"
			colorPreferenceValue="152,200,255"
			contributesToHeader="false"
			highlightPreferenceKey="codeSectionInUse_highlight"
			highlightPreferenceValue="true"
			icon="icons/codeSectionInUse.gif"
			includeOnPreferencePage="true"
			isGoToNextNavigationTarget="false"
			isGoToNextNavigationTargetKey="codeSectionInUse_isGoToNextNavigationTargetKey"
			isGoToPreviousNavigationTarget="false"
			isGoToPreviousNavigationTargetKey="codeSectionInUse_isGoToPreviousNavigationTargetKey"
			label="Includator Code Section in Use Annotation"
			overviewRulerPreferenceKey="codeSectionInUse_overviewRuler"
			overviewRulerPreferenceValue="false"
			presentationLayer="1"
			showInNextPrevDropdownToolbarAction="false"
			showInNextPrevDropdownToolbarActionKey="codeSectionInUse_showInNextPrevDropdownToolbarAction"
			textPreferenceKey="codeSectionInUse_text"
			textPreferenceValue="true"
			textStylePreferenceKey="codeSectionInUse_stylePreferences"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="codeSectionInUse_verticalRuler"
			verticalRulerPreferenceValue="false">
		</specification>
		<specification
			annotationType="com.cevelop.includator.annotations.codeSectionImplicitlyInUseAnnotation"
			colorPreferenceKey="codeSectionImplicitlyInUse_color"
			colorPreferenceValue="192,224,255"
			contributesToHeader="false"
			highlightPreferenceKey="codeSectionImplicitlyInUse_highlight"
			highlightPreferenceValue="true"
			icon="icons/codeSectionImplicitlyInUse.gif"
			includeOnPreferencePage="true"
			isGoToNextNavigationTarget="false"
			isGoToNextNavigationTargetKey="codeSectionImplicitlyInUse_isGoToNextNavigationTargetKey"
			isGoToPreviousNavigationTarget="false"
			isGoToPreviousNavigationTargetKey="codeSectionImplicitlyInUse_isGoToPreviousNavigationTargetKey"
			label="Includator Code Section Implicitly in Use Annotation"
			overviewRulerPreferenceKey="codeSectionImplicitlyInUse_overviewRuler"
			overviewRulerPreferenceValue="false"
			presentationLayer="2"
			showInNextPrevDropdownToolbarAction="false"
			showInNextPrevDropdownToolbarActionKey="codeSectionImplicitlyInUse_showInNextPrevDropdownToolbarAction"
			textPreferenceKey="codeSectionImplicitlyInUse_text"
			textPreferenceValue="true"
			textStylePreferenceKey="codeSectionImplicitlyInUse_stylePreferences"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="codeSectionImplicitlyInUse_verticalRuler"
			verticalRulerPreferenceValue="false">
		</specification>
		<specification
			annotationType="com.cevelop.includator.annotations.codeSectionNotInUseAnnotation"
			colorPreferenceKey="codeSectionNotInUse_color"
			colorPreferenceValue="255,215,165"
			contributesToHeader="false"
			highlightPreferenceKey="codeSectionNotInUse_highlight"
			highlightPreferenceValue="true"
			icon="icons/codeSectionNotInUse.gif"
			includeOnPreferencePage="true"
			isGoToNextNavigationTarget="false"
			isGoToNextNavigationTargetKey="codeSectionNotInUse_isGoToNextNavigationTargetKey"
			isGoToPreviousNavigationTarget="false"
			isGoToPreviousNavigationTargetKey="codeSectionNotInUse_isGoToPreviousNavigationTargetKey"
			label="Includator Code Section not in Use Annotation"
			overviewRulerPreferenceKey="codeSectionNotInUse_overviewRuler"
			overviewRulerPreferenceValue="false"
			presentationLayer="0"
			showInNextPrevDropdownToolbarAction="false"
			showInNextPrevDropdownToolbarActionKey="codeSectionNotInUse_showInNextPrevDropdownToolbarAction"
			textPreferenceKey="codeSectionInUse_text"
			textPreferenceValue="true"
			textStylePreferenceKey="codeSectionNotInUse_stylePreferences"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="codeSectionNotInUse_verticalRuler"
			verticalRulerPreferenceValue="false">
		</specification>
		<specification
			colorPreferenceValue="254,155,0"
			annotationType="com.cevelop.includator.unusedfileannotation"
			verticalRulerPreferenceValue="true"
			colorPreferenceKey="indexResultIndicationColor"
			contributesToHeader="false"
			overviewRulerPreferenceValue="true"
			presentationLayer="3"
			textStylePreferenceValue="NONE"
			symbolicIcon="warning"
			icon="icons/unusedFile.gif"
			label="Unused File"
			textPreferenceValue="true"
			textPreferenceKey="indexResultIndication"
			verticalRulerPreferenceKey="indexResultIndicationInVerticalRuler"
			overviewRulerPreferenceKey="indexResultIndicationInOverviewRuler"
			showInNextPrevDropdownToolbarActionKey="isIndexResultInNextPrevDropdownToolbarAction"
			showInNextPrevDropdownToolbarAction="true"
			isGoToNextNavigationTargetKey="isIndexResultGoToNextNavigationTarget"
			isGoToNextNavigationTarget="false"
			isGoToPreviousNavigationTargetKey="isIndexResultGoToPreviousNavigationTarget"
			isGoToPreviousNavigationTarget="false">
		</specification>
	</extension>
	
	<!-- Markers -->
	<extension
		id="com.cevelop.includator.marker"
		name="Includator Marker"
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.textmarker"/>
	</extension>
	<extension
		id="com.cevelop.includator.problemmarker"
		name="Includator Problem Marker"
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="com.cevelop.includator.marker"/>
		<persistent value="false" />
	</extension>
	<extension
		id="com.cevelop.includator.unusedincludemarker"
		name="Includator Unused Include Marker"
		point="org.eclipse.core.resources.markers">
		<super type="com.cevelop.includator.problemmarker"/>
		<persistent value="false" />
	</extension>
	<extension
		id="com.cevelop.includator.coverageInUseMarker"
		name="Includator Code Coverage In Use"
		point="org.eclipse.core.resources.markers">
		<super type="com.cevelop.includator.marker"/>
		<persistent value="false" />
	</extension>
	<extension
		id="com.cevelop.includator.coverageImplicitlyInUseMarker"
		name="Includator Code Coverage In Use (Implicitly)"
		point="org.eclipse.core.resources.markers">
		<super type="com.cevelop.includator.marker"/>
		<persistent value="false" />
	</extension>
	<extension
		id="com.cevelop.includator.coverageNotInUseMarker"
		name="Includator Code Coverage Not In Use"
		point="org.eclipse.core.resources.markers">
		<super type="com.cevelop.includator.marker"/>
		<persistent value="false" />
	</extension>
	<extension
		id="com.cevelop.includator.addincludemarker"
		name="Includator Add Include Marker"
		point="org.eclipse.core.resources.markers">
		<super type="com.cevelop.includator.problemmarker"/>
		<persistent value="false" />
	</extension>
	<extension
		id="com.cevelop.includator.includetofwdmarker"
		name="Includator Add Forward Declaration Marker"
		point="org.eclipse.core.resources.markers">
		<super type="com.cevelop.includator.problemmarker"/>
		<persistent value="false" />
	</extension>
	<extension
		id="com.cevelop.includator.unusedfilemarker"
		name="Includator Unused File Marker"
		point="org.eclipse.core.resources.markers">
		<super type="com.cevelop.includator.problemmarker"/>
		<persistent value="false" />
	</extension>
	
	<!-- project property page -->
	<extension
		point="org.eclipse.ui.propertyPages">
		<page
			category="org.eclipse.cdt.ui.newui.Page_head_general"
			class="com.cevelop.includator.ui.propertypages.IncludatorProjectPropertyPage"
			id="com.cevelop.includator.ui.propertypage.IncludatorProjectPropertyPage"
			name="Includator">
			<enabledWhen>
			<adapt type="org.eclipse.core.resources.IProject">
				<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
			</adapt>			
			</enabledWhen>
		</page>
		<page
			category="com.cevelop.includator.ui.propertypage.IncludatorProjectPropertyPage"
			class="com.cevelop.includator.ui.propertypages.ResourceExclusionPropertyPage"
			id="com.cevelop.includator.ui.propertypage.ProjectExclusionPropertyPage"
			name="Resource Exclusion">
			<enabledWhen>
				<adapt
					type="org.eclipse.core.resources.IProject">
					<test
						property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature">
					</test>
				</adapt>
			</enabledWhen>
		</page>
		<page
			category="com.cevelop.includator.ui.propertypage.IncludatorProjectPropertyPage"
			class="com.cevelop.includator.ui.propertypages.ExcludeIncludesPropertyPage"
			id="com.cevelop.includator.ui.propertypage.ExcludeIncludesPropertyPage"
			name="Include Exclusion">
			<enabledWhen>
				<adapt
					type="org.eclipse.core.resources.IProject">
					<test
						property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature">
					</test>
				</adapt>
			</enabledWhen>
		</page>
		<page
			category="com.cevelop.includator.ui.propertypage.IncludatorProjectPropertyPage"
			class="com.cevelop.includator.ui.propertypages.ExcludeSymbolsPropertyPage"
			id="com.cevelop.includator.ui.propertypage.ExcludeSymbolsPropertyPage"
			name="Symbol Exclusion">
			<enabledWhen>
				<adapt
					type="org.eclipse.core.resources.IProject">
					<test
						property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature">
					</test>
				</adapt>
			</enabledWhen>
		</page>
		<page
			category="com.cevelop.includator.ui.propertypage.IncludatorProjectPropertyPage"
			class="com.cevelop.includator.ui.propertypages.AdaptSymbolAwarenessPropertyPage"
 			id="com.cevelop.includator.ui.propertypage.ndexAdaptionSubdirPropertyPage"
			name="Extended Symbol Awareness">
			<enabledWhen>
				<adapt
					type="org.eclipse.core.resources.IProject">
					<test
						property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature">
					</test>
				</adapt>
			</enabledWhen>
		</page>
	</extension>
	
	<!-- Includator Global Settings and Preference Page -->
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
	        category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
	        class="com.cevelop.includator.ui.preferencepages.IncludatorPreferencePage"
	        id="com.cevelop.includator.preferences.IncludatorPreferencePage"
	        name="Includator">
		</page>
		<page
			category="com.cevelop.includator.preferences.IncludatorPreferencePage"
			class="com.cevelop.includator.ui.preferencepages.ExcludeSymbolsPreferencePage"
			id="com.cevelop.includator.preferencepage.ExcludeSymbolsPreferencePage"
			name="Symbol Exclusion">
		</page>
		<page
			category="com.cevelop.includator.preferences.IncludatorPreferencePage"
			class="com.cevelop.includator.ui.preferencepages.ExtendSymbolAwarenessPreferencePage"
 			id="com.cevelop.includator.preferencepages.IndexAdaptionSubdirPreferencePage"
 			name="Extended Symbol Awareness">
		</page>
	</extension>
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer class="com.cevelop.includator.preferences.IncludatorPropertyManager" />
	</extension>
   
	<!-- Includator Intro page entry -->
	<extension point="org.eclipse.ui.intro.configExtension">
		<configExtension configId="org.eclipse.ui.intro.universalConfig" content="intro/includator_overview.xml">
    	</configExtension>
	</extension>
	
	<!-- Additional C++ header file entries -->
	<extension point="org.eclipse.core.contenttype.contentTypes">
 		<file-association
 		 content-type="org.eclipse.cdt.core.cxxHeader"
 		 file-names="__hash_table,__bit_reference,__config,__debug,__functional_03,__functional_base,
 		 			 __functional_base_03,__locale,__mutex_base,__refstring,__split_buffer,__sso_allocator,
 		 			 __std_stream,__tree,__tuple,__undef___deallocate,__undef_min_max,scoped_allocator,
 		 			 shared_mutex"/>
 	</extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="com.cevelop.includator.StartupHook">
    </startup>
 </extension>
	
</plugin>
