<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension name="Macronator Commands" point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            id="com.cevelop.macronator.ui.ExpandMacro"
            name="Expand Macro">
      </command>
   </extension>

   <extension name="Macronator Command Handlers"
              point="org.eclipse.ui.handlers">
      <handler
            class="com.cevelop.macronator.ui.handlers.ExpandMacroHandler"
            commandId="com.cevelop.macronator.ui.ExpandMacro">
      </handler>
   </extension>

   <extension
         name="Macronator Menu Contributions"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.jdt.ui.refactoring.menu?endof=codingGroup">
         <command commandId="com.cevelop.macronator.ui.ExpandMacro"/>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.cdt.ui.refactoring.menu?endof=codingGroup">
         <command commandId="com.cevelop.macronator.ui.ExpandMacro"/>
       </menuContribution>
   </extension>

   <extension
         name="Macronator Checkers"
         point="org.eclipse.cdt.codan.core.checkers">
      <checker
            class="com.cevelop.macronator.checker.ObjectLikeMacroChecker"
            id="com.cevelop.macronator.plugin.ObsoleteObjectLikeMacroChecker"
            name ="Object-like Macro Checker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Macro definition can be replaced with &apos;constexpr&apos; expression"
               id="com.cevelop.macronator.plugin.ObsoleteObjectLikeMacro"
               markerType="com.cevelop.macronator.replaceMacroMarker"
               messagePattern="Macro definition can be replaced with &apos;constexpr&apos; expression"
               name="Obsolete object-like macro">
         </problem>
      </checker>
      <checker
            class="com.cevelop.macronator.checker.FunctionLikeMacroChecker"
            id="com.cevelop.macronator.plugin.ObsoleteFunctionLikeMacroChecker"
            name="Function-like Macro Checker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Macro definition can be replaced with inline function"
               id="com.cevelop.macronator.plugin.ObsoleteFunctionLikeMacro"
               markerType="com.cevelop.macronator.replaceMacroMarker"
               messagePattern="Macro definition can be replaced with inline function"
               name="Obsolete function-like macro">
         </problem>
      </checker>
      <checker
            class="com.cevelop.macronator.checker.UnusedMacroChecker"
            id="com.cevelop.macronator.plugin.checker.UnusedMacroChecker"
            name="Unused Macro Checker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Macro is never used"
               id="com.cevelop.macronator.plugin.UnusedMacro"
               markerType="com.cevelop.macronator.replaceMacroMarker"
               messagePattern="Macro is never used"
               name="Unused Macro">
         </problem>
      </checker>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
      <resolution
            class="com.cevelop.macronator.quickfix.ObjectLikeQuickFix"
            problemId="com.cevelop.macronator.plugin.ObsoleteObjectLikeMacro">
      </resolution>
      <resolution
            class="com.cevelop.macronator.quickfix.FunctionLikeQuickFix"
            problemId="com.cevelop.macronator.plugin.ObsoleteFunctionLikeMacro">
      </resolution>
      <resolution
            class="com.cevelop.macronator.quickfix.UnusedMacroQuickfix"
            problemId="com.cevelop.macronator.plugin.UnusedMacro">
      </resolution>
   </extension>
    <extension
         point="org.eclipse.cdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="com.cevelop.macronator.quickassist.LocalExpansionQuickAssist"
            id="com.cevelop.macronator.plugin.assist.LocalExpansion"
            name="com.cevelop.macronator.plugin.assist.LocalExpansionQuickAssist">
      </quickAssistProcessor>
      <quickAssistProcessor
            class="com.cevelop.macronator.quickassist.GlobalExpansionQuickAssist"
            id="com.cevelop.macronator.plugin.assist.GlobalExpansion"
            name="com.cevelop.macronator.plugin.assist.GlobalExpansionQuickAssist">
      </quickAssistProcessor>
      <quickAssistProcessor
            class="com.cevelop.macronator.quickassist.SuppressMacroQuickAssist"
            id="com.cevelop.macronator.plugin.assist.SuppressMacro"
            name="com.cevelop.macronator.plugin.assist.SuppressMacroQuickAssist">
      </quickAssistProcessor>
   </extension>
   <extension id="preferences" point="org.eclipse.core.runtime.preferences" name="preferences">
		<scope name="project" class="org.eclipse.core.internal.resources.ProjectPreferences"/>
	</extension>
   <extension
         id="com.cevelop.macronator.replaceMacroMarker"
         name="Replace Macro Suggestion"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.codan.core.codanProblem">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.cdt.codan.internal.ui.CodanProblemMarkerResolutionGenerator"
            markerType="com.cevelop.macronator.replaceMacroMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="com.cevelop.macronator.replaceMacroMarker"
            name="com.cevelop.macronator.replaceMacroAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="com.cevelop.macronator.replaceMacroAnnotation"
             colorPreferenceKey="com.cevelop.macronator.keys.replaceMacroAnnotation.colorPreference"
             colorPreferenceValue="255,255,0"
             contributesToHeader="true"
             highlightPreferenceKey="com.cevelop.macronator.keys.replaceMacroAnnotation.highlightPreference"
             highlightPreferenceValue="false"
             icon="icons/icon-green-star.png"
             includeOnPreferencePage="true"
             isGoToNextNavigationTarget="true"
             isGoToNextNavigationTargetKey="com.cevelop.macronator.keys.replaceMacroAnnotation.isGotoNextNavigationTarget"
             isGoToPreviousNavigationTarget="true"
             isGoToPreviousNavigationTargetKey="com.cevelop.macronator.keys.replaceMacroAnnotation.isGotoPreviousNavigationTarget"
             label="Replace Macro"
             overviewRulerPreferenceKey="com.cevelop.macronator.keys.replaceMacroAnnotation.overviewRulerPreference"
             overviewRulerPreferenceValue="true"
             presentationLayer="0"
             quickFixIcon="icons/icon-green-star.png"
             showInNextPrevDropdownToolbarAction="true"
             showInNextPrevDropdownToolbarActionKey="com.cevelop.macronator.keys.replaceMacroAnnotation.showInNextPrevDropdownToolbarAction"
             symbolicIcon="info"
             textPreferenceKey="com.cevelop.macronator.keys.replaceMacroAnnotation.textPreference"
             textPreferenceValue="true"
             textStylePreferenceKey="com.cevelop.macronator.keys.replaceMacroAnnotation.textStylePreference"
             textStylePreferenceValue="NONE"
             verticalRulerPreferenceKey="com.cevelop.macronator.keys.replaceMacroAnnotation.verticalRulerPreference"
             verticalRulerPreferenceValue="true">
       </specification>
    </extension>
</plugin>
