<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.cdt.codan.core.checkers"
		id="org.eclipse.cdt.codan.core.internal.checkers">
    	<checker
        	class="com.cevelop.includator.checkers.OrganizeIncludesChecker"
            id="com.cevelop.includator.codan.checkers.OrganizeIncludesChecker"
            name="Includator Organize Includes">
        	<problem
            	category="com.cevelop.includator.codan.IncludatorCategory"
               	defaultEnabled="false"
               	defaultSeverity="Warning"
               	id="com.cevelop.includator.codan.OrganizeIncludeProblem"
               	markerType="com.cevelop.includator.problemmarker"
               	name="Organize Includes">
         	</problem>
      	</checker>
	</extension>
  	<extension point="org.eclipse.cdt.codan.core.checkers">
    	<category
        	id="com.cevelop.includator.codan.IncludatorCategory"
           	name="Includator Checkers">
     	</category>
	</extension>
</plugin>
