<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension name="Namespactor Commands" point="org.eclipse.ui.commands">
        <command
              categoryId="org.eclipse.cdt.ui.category.refactoring"
              id="com.cevelop.namespactor.ui.eudec.Refactoring"
              name="Extract Using Declaration ..."/>
        <command id="com.cevelop.namespactor.ui.eudir.Refactoring"
                 categoryId="org.eclipse.cdt.ui.category.refactoring"
                 name="Extract Using Namespace Directive ..." />
        <command
              categoryId="org.eclipse.cdt.ui.category.refactoring"
              id="com.cevelop.namespactor.ui.itda.Refactoring"
              name="Inline Type Alias"/>
        <command id="com.cevelop.namespactor.ui.iudec.Refactoring"
                 categoryId="org.eclipse.cdt.ui.category.refactoring"
                 name="Inline Using Declaration" />
        <command id="com.cevelop.namespactor.ui.iudir.Refactoring"
                 categoryId="org.eclipse.cdt.ui.category.refactoring"
                 name="Inline Using Directive" />
        <command id="com.cevelop.namespactor.ui.iu.Refactoring"
                 categoryId="org.eclipse.cdt.ui.category.refactoring"
                 name="Inline Using" />
        <command id="com.cevelop.namespactor.ui.qun.Refactoring"
                 categoryId="org.eclipse.cdt.ui.category.refactoring"
                 name="Qualify Unqualified Name " />
        <command id="com.cevelop.namespactor.ui.td2a.Refactoring"
                 categoryId="org.eclipse.cdt.ui.category.refactoring"
                 name="Convert Typedef to Alias" />
    </extension>
    <extension name="Namespactor Menu Contributions" point="org.eclipse.ui.menus">
        <!-- Refactor Main Menu -->
        <menuContribution locationURI="menu:org.eclipse.jdt.ui.refactoring.menu?before=reorgGroup2">
            <separator name="namespactor" visible="true"/>
            <command commandId="com.cevelop.namespactor.ui.eudec.Refactoring"/>
            <command commandId="com.cevelop.namespactor.ui.eudir.Refactoring"/>
            <command commandId="com.cevelop.namespactor.ui.itda.Refactoring"/>
            <command commandId="com.cevelop.namespactor.ui.iu.Refactoring"/>
            <command commandId="com.cevelop.namespactor.ui.qun.Refactoring"/>
            <command commandId="com.cevelop.namespactor.ui.td2a.Refactoring"/>
        </menuContribution>

        <!-- Refactor Popup Menu -->
        <menuContribution locationURI="popup:org.eclipse.cdt.ui.refactoring.menu?before=reorgGroup2">
            <separator name="namespactor" visible="true"/>
            <command commandId="com.cevelop.namespactor.ui.eudec.Refactoring"/>
            <command commandId="com.cevelop.namespactor.ui.eudir.Refactoring"/>
            <command commandId="com.cevelop.namespactor.ui.itda.Refactoring"/>
            <command commandId="com.cevelop.namespactor.ui.iu.Refactoring"/>
            <command commandId="com.cevelop.namespactor.ui.qun.Refactoring"/>
            <command commandId="com.cevelop.namespactor.ui.td2a.Refactoring"/>
        </menuContribution>
    </extension>
    <extension name="Namespactor Command Handlers"
               point="org.eclipse.ui.handlers">
        <handler commandId="com.cevelop.namespactor.ui.eudec.Refactoring"
                 class="com.cevelop.namespactor.handlers.EUDecRefactoringMenuHandler" />
        <handler commandId="com.cevelop.namespactor.ui.eudir.Refactoring"
                 class="com.cevelop.namespactor.handlers.EUDirRefactoringMenuHandler" />
        <handler commandId="com.cevelop.namespactor.ui.itda.Refactoring"
                 class="com.cevelop.namespactor.handlers.ITDARefactoringMenuHandler" />
        <handler commandId="com.cevelop.namespactor.ui.iu.Refactoring"
                 class="com.cevelop.namespactor.handlers.IURefactoringMenuHandler" />
        <handler commandId="com.cevelop.namespactor.ui.qun.Refactoring"
                 class="com.cevelop.namespactor.handlers.QUNRefactoringMenuHandler" />
        <handler commandId="com.cevelop.namespactor.ui.td2a.Refactoring"
                 class="com.cevelop.namespactor.handlers.TD2ARefactoringMenuHandler" />
    </extension>
</plugin>
