<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.8"?>
<plugin>
    <extension point="org.eclipse.core.resources.markers"
      id="com.cevelop.tdd.tddProblemMarker"
      name="%marker.type.name">
        <super type="org.eclipse.cdt.codan.core.codanProblem" />
        <persistent value="false" />
    </extension>
    <extension point="org.eclipse.core.resources.markers"
      id="com.cevelop.tdd.tddInvalidArgumentProblemMarker"
      name="%marker.type.argument.name">
        <super type="com.cevelop.tdd.tddProblemMarker" />
        <persistent value="false" />
    </extension>

    <extension point="ch.hsr.ifs.iltis.cpp.core.infoMarkerResolution">
        <resolution
              class="com.cevelop.tdd.quickfixes.argument.ArgumentMismatchQuickfix"
              problemId="com.cevelop.tdd.ArgumentMismatchProblem">
              <info class="com.cevelop.tdd.infos.ArgumentMismatchInfo"/>
        </resolution>
        <resolution
              class="com.cevelop.tdd.quickfixes.create.function.constructor.CreateConstructorQuickfix"
              problemId="com.cevelop.tdd.MissingConstructorProblem">
              <info class="com.cevelop.tdd.infos.ConstructorInfo"/>
        </resolution>
        <resolution
              class="com.cevelop.tdd.quickfixes.create.function.free.CreateFreeFunctionQuickfix"
              problemId="com.cevelop.tdd.MissingFreeFunctionProblem">
              <info class="com.cevelop.tdd.infos.FreeFunctionInfo"/>
        </resolution>
        <resolution
              class="com.cevelop.tdd.quickfixes.create.function.free.operator.CreateFreeOperatorQuickfix"
              problemId="com.cevelop.tdd.MissingFreeOperatorProblem">
              <info class="com.cevelop.tdd.infos.FreeOperatorInfo"/>
        </resolution>
        <resolution
              class="com.cevelop.tdd.quickfixes.create.variable.local.CreateLocalVariableQuickfix"
              problemId="com.cevelop.tdd.MissingLocalVariableProblem">
              <info class="com.cevelop.tdd.infos.LocalVariableInfo"/>
        </resolution>
        <resolution
              class="com.cevelop.tdd.quickfixes.create.function.member.CreateMemberFunctionQuickfix"
              problemId="com.cevelop.tdd.MissingMemberFunctionProblem">
              <info class="com.cevelop.tdd.infos.MemberFunctionInfo"/>
        </resolution>
        <resolution
              class="com.cevelop.tdd.quickfixes.create.function.member.operator.CreateMemberOperatorQuickfix"
              problemId="com.cevelop.tdd.MissingMemberOperatorProblem">
              <info class="com.cevelop.tdd.infos.MemberOperatorInfo"/>
        </resolution>
        <resolution
              class="com.cevelop.tdd.quickfixes.create.variable.member.CreateMemberVariableQuickfix"
              problemId="com.cevelop.tdd.MissingMemberVariableProblem">
              <info class="com.cevelop.tdd.infos.MemberVariableInfo"/>
        </resolution>
        <resolution
              class="com.cevelop.tdd.quickfixes.create.namespace.CreateNamespaceQuickfix"
              problemId="com.cevelop.tdd.MissingNamespaceProblem">
              <info class="com.cevelop.tdd.infos.NamespaceInfo"/>
        </resolution>
        <resolution
              class="com.cevelop.tdd.quickfixes.create.type.CreateTypeQuickfix"
              problemId="com.cevelop.tdd.MissingTypeProblem">
              <info class="com.cevelop.tdd.infos.TypeInfo"/>
        </resolution>
        <resolution
              class="com.cevelop.tdd.quickfixes.visibility.VisibilityQuickfix"
              problemId="com.cevelop.tdd.VisibilityProblem">
              <info class="com.cevelop.tdd.infos.VisibilityInfo"/>
        </resolution>
    </extension>

    <extension
        point="org.eclipse.cdt.codan.core.checkers">
        <category
           id="com.cevelop.tdd.category"
           name="%category.name"></category>
        <checker
           class="com.cevelop.tdd.checkers.ArgumentMismatchChecker"
           id="com.cevelop.tdd.codan.checkers.wrongargumentchecker"
           name="%argumentmismatch.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.ArgumentMismatchProblem"
              markerType="com.cevelop.tdd.tddInvalidArgumentProblemMarker"
              messagePattern="%checker.invalidMemberFunctionArguments.messagePattern"
              name="%argumentmismatch.problem.name"></problem>
        </checker>
        <checker
           class="com.cevelop.tdd.checkers.MissingConstructorChecker"
           id="com.cevelop.tdd.codan.checkers.missingconstructorchecker"
           name="%constructor.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.MissingConstructorProblem"
              markerType="com.cevelop.tdd.tddProblemMarker"
              messagePattern="%checker.missingConstructor.messagePattern"
              name="%constructor.problem.name"></problem>
        </checker>
        <checker
           class="com.cevelop.tdd.checkers.MissingFreeFunctionChecker"
           id="com.cevelop.tdd.codan.checkers.freefunctionproblemchecker"
           name="%free.function.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.MissingFreeFunctionProblem"
              markerType="com.cevelop.tdd.tddProblemMarker"
              messagePattern="%checker.free.function.messagePattern"
              name="%free.function.problem.name"></problem>
        </checker>
        <checker
           class="com.cevelop.tdd.checkers.MissingFreeOperatorChecker"
           id="com.cevelop.tdd.codan.checkers.missingoperatorchecker"
           name="%free.operator.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.MissingFreeOperatorProblem"
              markerType="com.cevelop.tdd.tddProblemMarker"
              messagePattern="%checker.missingOperator.messagePattern"
              name="%free.operator.problem.name"></problem>
        </checker>
        <checker
           class="com.cevelop.tdd.checkers.MissingLocalVariableChecker"
           id="com.cevelop.tdd.codan.checkers.variableresolutionproblemchecker"
           name="%local.variable.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.MissingLocalVariableProblem"
              markerType="com.cevelop.tdd.tddProblemMarker"
              messagePattern="%checker.localVariable.messagePattern"
              name="%local.variable.problem.name"></problem>
        </checker>
        <checker
           class="com.cevelop.tdd.checkers.MissingMemberFunctionChecker"
           id="com.cevelop.tdd.codan.checkers.memberfunctionproblemchecker"
           name="%member.function.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.MissingMemberFunctionProblem"
              markerType="com.cevelop.tdd.tddProblemMarker"
              messagePattern="%checker.memberFunction.messagePattern"
              name="%member.function.problem.name"></problem>
        </checker>
        <checker
           class="com.cevelop.tdd.checkers.MissingMemberOperatorChecker"
           id="com.cevelop.tdd.codan.checkers.missingoperatorchecker"
           name="%member.operator.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.MissingMemberOperatorProblem"
              markerType="com.cevelop.tdd.tddProblemMarker"
              messagePattern="%checker.missingOperator.messagePattern"
              name="%member.operator.problem.name"></problem>
        </checker>
        <checker
           class="com.cevelop.tdd.checkers.MissingMemberVariableChecker"
           id="com.cevelop.tdd.checkers.variableresolutionproblemchecker"
           name="%member.variable.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.MissingMemberVariableProblem"
              markerType="com.cevelop.tdd.tddProblemMarker"
              messagePattern="%checker.memberVariable.messagePattern"
              name="%member.variable.problem.name"></problem>
        </checker>
        <checker
           class="com.cevelop.tdd.checkers.MissingNamespaceChecker"
           id="com.cevelop.tdd.codan.checkers.missingnamespacechecker"
           name="%namespace.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.MissingNamespaceProblem"
              markerType="com.cevelop.tdd.tddProblemMarker"
              messagePattern="%checker.missingNamespace.messagePattern"
              name="%namespace.problem.name"></problem>
        </checker>
        <checker
           class="com.cevelop.tdd.checkers.MissingTypeChecker"
           id="com.cevelop.tdd.codan.checkers.typeresolutionproblemchecker"
           name="%type.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.MissingTypeProblem"
              markerType="com.cevelop.tdd.tddProblemMarker"
              messagePattern="%checker.unknownType.messagePattern"
              name="%type.problem.name"></problem>
        </checker>
        <checker
           class="com.cevelop.tdd.checkers.VisibilityChecker"
           id="com.cevelop.tdd.codan.checkers.privatemethodchecker"
           name="%visibility.checker.name">
            <problem
              category="com.cevelop.tdd.category"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="com.cevelop.tdd.VisibilityProblem"
              markerType="com.cevelop.tdd.tddProblemMarker"
              messagePattern="%checker.memberFunctionVisibility.messagePattern"
              name="%visibility.problem.name"></problem>
        </checker>
    </extension>
    
	<!-- Menu commands definition -->
    <extension
         point="org.eclipse.ui.commands">
        <command
              categoryId="org.eclipse.cdt.ui.category.refactoring"
              id="com.cevelop.tdd.commands.extractCommand"
              name="%extractCommand.name"/>
    </extension>

    <extension
          name="Handlers"
          point="org.eclipse.ui.handlers">
      	<handler
        	commandId="com.cevelop.tdd.commands.extractCommand"
        	class="com.cevelop.tdd.refactorings.handlers.ExtractRefactoringMenuHandler"/>
    </extension>

    <extension
         point="org.eclipse.ui.bindings">
        <key
            commandId="com.cevelop.tdd.commands.extractCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+ALT+P"></key>
    </extension>

    <extension
          name="Menu Contributions"
          point="org.eclipse.ui.menus">
      	<menuContribution
        	allPopups="false"
        	locationURI="menu:org.eclipse.jdt.ui.refactoring.menu?endof=codingGroup">
      		<command
              commandId="com.cevelop.tdd.commands.extractCommand"
              tooltip="%extractCommand.tooltip"
              mnemonic="%extractCommand.mnemonic"/>
      	</menuContribution>

      	<menuContribution
        	allPopups="false"
        	locationURI="popup:org.eclipse.cdt.ui.refactoring.menu?endof=codingGroup">
      		<command
              commandId="com.cevelop.tdd.commands.extractCommand"
              tooltip="%extractCommand.tooltip"
              mnemonic="%extractCommand.mnemonic"/>
      	</menuContribution>
    </extension>

    <extension
          point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
             annotationType="com.cevelop.tdd.tddAnnotation"
             colorPreferenceKey="com.cevelop.tdd.keys.colorPreference"
             colorPreferenceValue="255,0,0"
             contributesToHeader="true"
             highlightPreferenceKey="com.cevelop.tdd.keys.highlightPreference"
             highlightPreferenceValue="false"
             icon="icons/icon-red-triangle-down.png"
             includeOnPreferencePage="true"
             isGoToNextNavigationTarget="true"
             isGoToNextNavigationTargetKey="com.cevelop.tdd.keys.isGotoNextNavigationTarget"
             isGoToPreviousNavigationTarget="true"
             isGoToPreviousNavigationTargetKey="com.cevelop.tdd.keys.isGotoPreviousNavigationTarget"
             label="%specification.label"
             overviewRulerPreferenceKey="com.cevelop.tdd.keys.overviewRulerPreference"
             overviewRulerPreferenceValue="true"
             presentationLayer="42"
             quickFixIcon="icons/icon-red-triangle-down.png"
             showInNextPrevDropdownToolbarAction="true"
             showInNextPrevDropdownToolbarActionKey="com.cevelop.tdd.keys.showInNextPrevDropdownToolbarAction"
             symbolicIcon="error"
             textPreferenceKey="com.cevelop.tdd.keys.textPreference"
             textPreferenceValue="true"
             textStylePreferenceKey="com.cevelop.tdd.keys.textStylePreference"
             textStylePreferenceValue="SQUIGGLES"
             verticalRulerPreferenceKey="com.cevelop.tdd.keys.verticalRulerPreference"
             verticalRulerPreferenceValue="true"></specification>
    </extension>
    <extension
          point="org.eclipse.ui.editors.annotationTypes">
        <type
             markerSeverity="2"
             markerType="com.cevelop.tdd.tddProblemMarker"
             name="com.cevelop.tdd.tddAnnotation"
             super="org.eclipse.ui.workbench.texteditor.error"></type>
    </extension>
    <extension point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
             class="com.cevelop.tdd.quickfixes.argument.ArgumentMismatchQuickfixGenerator"
             markerType="com.cevelop.tdd.tddInvalidArgumentProblemMarker"></markerResolutionGenerator>
        <markerResolutionGenerator
             class="ch.hsr.ifs.iltis.cpp.core.codan.marker.InfoProblemMarkerResolutionGenerator"
             markerType="com.cevelop.tdd.tddProblemMarker"></markerResolutionGenerator>
    </extension>

    <!-- Refactorings -->
    <extension
          name="Refactoring Contribution"
          point="org.eclipse.ltk.core.refactoring.refactoringContributions">
        <contribution
             class="com.cevelop.tdd.refactorings.create.function.free.CreateFreeFunctionRefactoringContribution"
             id="com.cevelop.tdd.refactorings.freeFunctionRefactoring"/>
        <contribution
             class="com.cevelop.tdd.refactorings.create.function.member.CreateMemberFunctionRefactoringContribution"
             id="com.cevelop.tdd.refactorings.memberFunctionRefactoring"/>
        <contribution
             class="com.cevelop.tdd.refactorings.create.variable.member.CreateMemberVariableRefactoringContribution"
             id="com.cevelop.tdd.refactorings.memberVariableRefactoring"/>
        <contribution
             class="com.cevelop.tdd.refactorings.create.namespace.CreateNamespaceRefactoringContribution"
             id="com.cevelop.tdd.refactorings.namespaceRefactoring"/>
        <contribution
             class="com.cevelop.tdd.refactorings.create.type.CreateTypeRefactoringContribution"
             id="com.cevelop.tdd.refactorings.typeRefactoring"/>
        <contribution
             class="com.cevelop.tdd.refactorings.create.variable.local.CreateLocalVariableRefactoringContribution"
             id="com.cevelop.tdd.refactorings.localVariableRefactoring"/>
        <contribution
             class="com.cevelop.tdd.refactorings.extract.ExtractToHeaderRefactoringContribution"
             id="com.cevelop.tdd.refactorings.extractRefactoring"/>
    </extension>
	
</plugin>
