<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.categories">
      <category id="com.cevelop.gslator.categories.ccglator"
           name="C++ Core Guideline Problems"/>
   </extension>

   <extension name="C++ Core Guideline Marker" point="org.eclipse.core.resources.markers"
        id="com.cevelop.gslator.markerType.ccglator">
      <super type="org.eclipse.cdt.codan.core.codanProblem"/>
      <persistent value="true"/>
   </extension>
   
   <extension point="org.eclipse.ui.ide.markerResolution">
   		<markerResolutionGenerator
   			class="ch.hsr.ifs.iltis.cpp.core.codan.marker.InfoProblemMarkerResolutionGenerator"
   			markerType="com.cevelop.gslator.markerType.ccglator">
   		</markerResolutionGenerator>
   </extension>

   <extension point="org.eclipse.cdt.codan.core.checkers">
      <checker
            class="com.cevelop.gslator.checkers.C20ToC22DefaultOperationsRules.C20RedundantOperationsChecker"
            id="com.cevelop.gslator.checkers.C.20RedundantOperationsChecker"
            name="C.20: Avoid redundant default operations">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.20: Avoid redundant default operations"
            id="com.cevelop.gslator.problems.C.20RedundantOperations"
            messagePattern="C.20: Avoid redundant default operations"
            name="C.20: Avoid redundant default operations"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C20ToC22DefaultOperationsRules.C21MissingSpecialMemberFunctionsChecker"
            id="com.cevelop.gslator.checkers.C.21MissingSpecialFunctionsChecker"
            name="C.21: Missing special member functions">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.21: Missing special member functions"
            id="com.cevelop.gslator.problems.C.21MissingSpecialMemberFunctions"
            messagePattern="C.21: Missing special member functions"
            name="C.21: Missing special member functions"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C30ToC37DestructorRules.C31_01NoDestructorChecker"
            id="com.cevelop.gslator.checkers.C.31_01NoDestructorChecker"
            name="C.31: Destructor needed because of owner in member variables">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.31: Destructor needed because of owner in member variables"
            id="com.cevelop.gslator.problems.C.31_01NoDestructor"
            messagePattern="C.31: Destructor needed because of owner in member variables"
            name="C.31: Destructor needed because of owner in member variables"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C30ToC37DestructorRules.C31_02DestructorHasNoBodyChecker"
            id="com.cevelop.gslator.checkers.C.31_02DestructorHasNoBodyChecker"
            name="C.31: Destructor has no body">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.31: Destructor has no body"
            id="com.cevelop.gslator.problems.C.31_02DestructorHasNoBody"
            messagePattern="C.31: Destructor has no body"
            name="C.31: Destructor has no body"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C30ToC37DestructorRules.C31_03DestructorWithMissingDeleteStatementsChecker"
            id="com.cevelop.gslator.checkers.C.31_03DestructorWithMissingDeleteStatementsChecker"
            name="C.31: Missing delete statements of owning member variables">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.31: Missing delete statements of owning member variables"
            id="com.cevelop.gslator.problems.C.31_03DestructorWithMissingDeleteStatements"
            messagePattern="C.31: Missing delete statements of owning member variables. Please delete: {0}"
            name="C.31: Missing delete statements of owning member variables"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C30ToC37DestructorRules.C35BaseClassDestructorChecker"
            id="com.cevelop.gslator.checkers.C.35BaseClassDestructorChecker"
            name="C.35: A base class destructor should be either public and virtual, or protected and nonvirtual">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.35: A base class destructor should be either public and virtual, or protected and nonvirtual"
            id="com.cevelop.gslator.problems.C.35BaseClassDestructor"
            messagePattern="C.35: A base class destructor should be either public and virtual, or protected and nonvirtual"
            name="C.35: A base class destructor should be either public and virtual, or protected and nonvirtual"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C30ToC37DestructorRules.C37DestructorShouldBeNoExceptChecker"
            id="com.cevelop.gslator.checkers.C.37DestructorShouldBeNoExceptChecker"
            name="C.37: Destructor should be declared noexcept">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.37: Destructor should be declared noexcept"
            id="com.cevelop.gslator.problems.C.37DestructorShouldBeNoExcept"
            messagePattern="C.37: Destructor should be declared noexcept"
            name="C.37: Destructor should be declared noexcept"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C40ToC52ConstructorRules.C44NoexceptDefaultCtorChecker"
            id="com.cevelop.gslator.checkers.C.44NoexceptCtorChecker"
            name="C.44: Constructor should be declared noexcept">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.44: Constructor should be declared noexcept"
            id="com.cevelop.gslator.problems.C.44NoexceptCtor"
            messagePattern="C.44: Constructor should be declared noexcept"
            name="C.44: Constructor should be declared noexcept"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C40ToC52ConstructorRules.C45InClassInitializeChecker"
            id="com.cevelop.gslator.checkers.C.45InClassInitializeChecker"
            name="C.45: Default constructor shouldn't only initialize data members">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.45: Default constructor shouldn't only initialize data members"
            id="com.cevelop.gslator.problems.C.45InClassInitialize"
            messagePattern="C.45: {0}"
            name="C.45: Default constructor shouldn't only initialize data members"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C40ToC52ConstructorRules.C46DeclareSingleCtorExplicitChecker"
            id="com.cevelop.gslator.checkers.C.46DeclareSingleCtorExplicitChecker"
            name="C.46: Single-argument constructor should be declared explicit">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.46: Single-argument constructor should be declared explicit"
            id="com.cevelop.gslator.problems.C.46DeclareSingleCtorExplicit"
            messagePattern="C.46: Single-argument constructor should be declared explicit"
            name="C.46: Single-argument constructor should be declared explicit"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C40ToC52ConstructorRules.C47InitializeMemVarsInRightOrderChecker"
            id="com.cevelop.gslator.checkers.C.47InitializeMemVarsInRightOrderChecker"
            name="C.47: Member variables should be initialized in the same order as they are declared">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.47: Member variables should be initialized in the same order as they are declared"
            id="com.cevelop.gslator.problems.C.47InitializeMemVarsInRightOrder"
            messagePattern="C.47: Member variables should be initialized in the same order as they are declared"
            name="C.47: Member variables should be initialized in the same order as they are declared"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C40ToC52ConstructorRules.C48PreferInClassInitializerToCtorInitChecker"
            id="com.cevelop.gslator.checkers.C.48PreferInClassInitializerToCtorInitChecker"
            name="C.48: Prefer in-class initializers to member initializers in constructors for constant initializers">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.48: Prefer in-class initializers to member initializers in constructors for constant initializers"
            id="com.cevelop.gslator.problems.C.48PreferInClassInitializerToCtorInit"
            messagePattern="C.48: Prefer in-class initializers to member initializers in constructors for constant initializers"
            name="C.48: Prefer in-class initializers to member initializers in constructors for constant initializers"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C40ToC52ConstructorRules.C49NoAssignmentsInCtorChecker"
            id="com.cevelop.gslator.checkers.C.49NoAssignmentsInCtorChecker"
            name="C.49: Prefer initialization to assignment in constructors">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.49: Prefer initialization to assignment in constructors"
            id="com.cevelop.gslator.problems.C.49NoAssignmentsInCtor"
            messagePattern="C.49: Prefer initialization to assignment in constructors"
            name="C.49: Prefer initialization to assignment in constructors"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C60ToC67CopyMoveRules.C60_01CopyAssignmentNonVirtualChecker"
            id="com.cevelop.gslator.checkers.C.60_01CopyAssignmentNonVirtualChecker"
            name="C.60: Copy assignment should be non-virtual">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.60: Copy assignment should be non-virtual"
            id="com.cevelop.gslator.problems.C.60_01CopyAssignmentNonVirtual"
            messagePattern="C.60: Copy assignment should be non-virtual"
            name="C.60: Copy assignment should be non-virtual"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C60ToC67CopyMoveRules.C60_02CopyAssignmentParameterByConstRefChecker"
            id="com.cevelop.gslator.checkers.C.60_02CopyAssignmentParameterByConstRefChecker"
            name="C.60: Parameter should be taken by const&amp;">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.60: Parameter should be taken by const&amp;"
            id="com.cevelop.gslator.problems.C.60_02CopyAssignmentParameterByConstRef"
            messagePattern="C.60: Parameter should be taken by const&amp;"
            name="C.60: Parameter should be taken by const&amp;"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C60ToC67CopyMoveRules.C60_03CopyAssignmentReturnByNonConstRefChecker"
            id="com.cevelop.gslator.checkers.C.60_03CopyAssignmentReturnByNonConstRefChecker"
            name="C.60: Return parameter should be non-const&amp;">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.60: Return parameter should be non-const&amp;"
            id="com.cevelop.gslator.problems.C.60_03CopyAssignmentReturnByNonConstRef"
            messagePattern="C.60: Return parameter should be non-const&amp;"
            name="C.60: Return parameter should be non-const&amp;"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C60ToC67CopyMoveRules.C63_01MoveAssignmentNonVirtualChecker"
            id="com.cevelop.gslator.checkers.C.63_01MoveAssignmentNonVirtualChecker"
            name="C.63: Move assignment should be non-virtual">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.63: Move assignment should be non-virtual"
            id="com.cevelop.gslator.problems.C.63_01MoveAssignmentNonVirtual"
            messagePattern="C.63: Move assignment should be non-virtual"
            name="C.63: Move assignment should be non-virtual"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C60ToC67CopyMoveRules.C63_02MoveAssignmentReturnByNonConstRefChecker"
            id="com.cevelop.gslator.checkers.C.63_02MoveAssignmentReturnByNonConstRefChecker"
            name="C.63: Return parameter should be non-const&amp;">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.63: Return parameter should be non-const&amp;"
            id="com.cevelop.gslator.problems.C.63_02MoveAssignmentReturnByNonConstRef"
            messagePattern="C.63: Return parameter should be non-const&amp;"
            name="C.63: Return parameter should be non-const&amp;"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C60ToC67CopyMoveRules.C66MoveOperationsShouldBeNoExceptChecker"
            id="com.cevelop.gslator.checkers.C66MoveOperationsShouldBeNoExceptChecker"
            name="C.66: Move operations should be declared noexcept">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.66: Move operations should be declared noexcept"
            id="com.cevelop.gslator.problems.C.66MoveOperationsNoExcept"
            messagePattern="C.66: Move operations should be declared noexcept"
            name="C.66: Move operations should be declared noexcept"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C80ToC89OtherDefaultOperationRules.C83ValueLikeTypesShouldHaveSwapChecker"
            id="com.cevelop.gslator.checkers.C83ValueLiketypesShouldHaveSwapChecker"
            name="C.83: Value-like types should have a swap member function.">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.83: Value-like types should have a swap member function."
            id="com.cevelop.gslator.problems.C.83ValueLikeTypesShouldHaveSwap"
            messagePattern="C.83: {0}"
            name="C.83: Missing/broken swap function"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C80ToC89OtherDefaultOperationRules.C84MakeSwapNoExceptChecker"
            id="com.cevelop.gslator.checkers.C84MakeSwapNoExceptChecker"
            name="C.84: A Swap member should be declared noexcept">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.84: Swap member should be declared noexcept"
            id="com.cevelop.gslator.problems.C.84MakeSwapNoExcept"
            messagePattern="C.84: A Swap member should be declared noexcept"
            name="C.84 Make Swap noexcept"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C80ToC89OtherDefaultOperationRules.C85NamespaceLevelSwapFunctionChecker"
            id="com.cevelop.gslator.checkers.C85NamespaceLevelSwapFunctionChecker"
            name="C.85: A namespace-level Swap function should be provided.">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.85: A namespace-level Swap function should be provided"
            id="com.cevelop.gslator.problems.C.85NamespaceLevelSwapFunction"
            messagePattern="C.85: A namespace-level Swap function should be provided"
            name="C.85 If a user defined swap member function is used, namespace-level swap(a, b) should be overwritten"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.C160ToC170OverloadingRules.C164AvoidConversionOperatorsChecker"
            id="com.cevelop.gslator.checkers.C164AvoidConversionOperatorsChecker"
            name="C.164: Avoid conversion operators. Consider removal!">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="C.164: Avoid conversion operators"
            id="com.cevelop.gslator.problems.C.164AvoidConversionOperators"
            messagePattern="C.164: Avoid conversion operators. Consider removal!"
            name="C.164: Avoid conversion operators"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.ES05ToES34DeclarationRules.ES09AvoidALLCAPSnamesChecker"
            id="com.cevelop.gslator.problems.ES.09AvoidALLCAPSnamesChecker"
            name="ES.9: Avoid ALL_CAPS names">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="ES.9: Avoid ALL_CAPS names"
            id="com.cevelop.gslator.problems.ES.09AvoidALLCAPSnames"
            messagePattern="ES.9: {0}"
            name="ES.9: Avoid ALL_CAPS names"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>
      
      <checker
            class="com.cevelop.gslator.checkers.ES05ToES34DeclarationRules.ES20AlwaysInitializeAnObjectChecker"
            id="com.cevelop.gslator.checkers.ES.20AlwaysInitializeAnObjectChecker"
            name="ES.20: Always initialize an object">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="ES.20: Always initialize an object"
            id="com.cevelop.gslator.problems.ES.20AlwaysInitializeAnObject"
            messagePattern="ES.20: Always initialize an object"
            name="ES.20: Always initialize an object"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.ES05ToES34DeclarationRules.ES26DontUseVariableForTwoUnrelatedPurposesChecker"
            id="com.cevelop.gslator.checkers.ES26DontUseVariableForTwoUnrelatedPurposesChecker"
            name="ES.26: Don't use a variable for two unrelated purposes">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="ES.26: Don't use a variable for two unrelated purposes"
            id="com.cevelop.gslator.problems.ES.26DontUseVariableForTwoUnrelatedPurposes"
            messagePattern="ES.26: Don't use a variable for two unrelated purposes"
            name="ES.26: Don't use a variable for two unrelated purposes"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.ES40ToES64ExpressionRules.ES46AvoidLossyArithmeticConversionsChecker"
            id="com.cevelop.gslator.checkers.ES46AvoidLossyArithmeticConversionsChecker"
            name="ES.46: Avoid lossy (narrowing, truncating) arithmetic conversions">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="ES.46: Avoid lossy (narrowing, truncating) arithmetic conversions"
            id="com.cevelop.gslator.problems.ES.46AvoidLossyConversions"
            messagePattern="ES.46: Avoid {0} conversions"
            name="ES.46: Avoid lossy (narrowing, truncating) arithmetic conversions"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.ES40ToES64ExpressionRules.ES49IfMustUseNamedCastChecker"
            id="com.cevelop.gslator.checkers.ES49IfMustUseNamedCastChecker"
            name="ES.49 If you must use a cast, use a named cast">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="ES.49: If you must use a cast, use a named cast"
            id="com.cevelop.gslator.problems.ES.49IfMustUseNamedCast"
            messagePattern="ES.49: If you must use a cast, use a named cast"
            name="ES.49 If you must use a cast, use a named cast"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.ES40ToES64ExpressionRules.ES50DontCastAwayConstChecker"
            id="com.cevelop.gslator.checkers.ES50DontCastAwayConstChecker"
            name="ES.50 Don't cast away const">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="ES.50: Don't cast away const"
            id="com.cevelop.gslator.problems.ES.50DontCastAwayConst"
            messagePattern="ES.50: Don't cast away const"
            name="ES.50 Don't cast away const"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.ES70toES86StatementRules.ES74DeclareLoopVariableInTheInitializerChecker"
            id="com.cevelop.gslator.checkers.ES74DeclareLoopVariableInTheInitializerChecker"
            name="ES.74: Prefer to declare a loop variable in the initializer part of a for-statement">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="ES.74: Declare a variable in the for-loop initialization"
            id="com.cevelop.gslator.problems.ES.74DeclareLoopVariableInTheInitializer"
            messagePattern="ES.74: Prefer to declare a loop variable in the initializer part of a for-statement"
            name="ES.74: Declare a variable in the for-loop initialization"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.ES70toES86StatementRules.ES75AvoidDoStatementsChecker"
            id="com.cevelop.gslator.checkers.ES75AvoidDoStatementsChecker"
            name="ES.75: Avoid do-statements">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="ES.75: Avoid do-statements"
            id="com.cevelop.gslator.problems.ES.75AvoidDoStatements"
            messagePattern="ES.75: Avoid do statements"
            name="ES.75: Avoid do statements"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>

      <checker
            class="com.cevelop.gslator.checkers.ES70toES86StatementRules.ES76AvoidGotoChecker"
            id="com.cevelop.gslator.checkers.ES76AvoidGotoChecker"
            name="ES.76: Avoid goto">
         <problem
            category="com.cevelop.gslator.categories.ccglator"
            defaultSeverity="Warning"
            defaultEnabled="true"
            description="ES.76: Avoid goto"
            id="com.cevelop.gslator.problems.ES.76AvoidGoto"
            messagePattern="ES.76: Avoid goto{0}"
            name="ES.76: Avoid goto"
            markerType="com.cevelop.gslator.markerType.ccglator">
         </problem>
      </checker>
   </extension>

   <extension point="ch.hsr.ifs.iltis.cpp.core.infoMarkerResolution">
      <resolution
            class="com.cevelop.gslator.quickfixes.C20ToC22DefaultOperationsRules.C20RedundantOperationsQuickFix"
            problemId="com.cevelop.gslator.problems.C.20RedundantOperations">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.20RedundantOperations">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C20ToC22DefaultOperationsRules.C21MissingSpecialMemberFunctionsQuickFix"
            problemId="com.cevelop.gslator.problems.C.21MissingSpecialMemberFunctions">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.21MissingSpecialMemberFunctions">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C30ToC37DestructorRules.C31_01NoDestructorQuickFix"
            problemId="com.cevelop.gslator.problems.C.31_01NoDestructor">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.31_01NoDestructor">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C30ToC37DestructorRules.C31_02DestructorHasNoBodyQuickFix"
            problemId="com.cevelop.gslator.problems.C.31_02DestructorHasNoBody">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.31_02DestructorHasNoBody">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C30ToC37DestructorRules.C31_03DestructorWithMissingDeleteStatementsQuickFix"
            problemId="com.cevelop.gslator.problems.C.31_03DestructorWithMissingDeleteStatements">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.31_03DestructorWithMissingDeleteStatements">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C30ToC37DestructorRules.C35BaseClassDestructorQuickFix"
            problemId="com.cevelop.gslator.problems.C.35BaseClassDestructor">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.35BaseClassDestructor">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C30ToC37DestructorRules.C37C44C66C84ShouldBeNoExceptQuickFix"
            problemId="com.cevelop.gslator.problems.C.37DestructorShouldBeNoExcept">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.37DestructorShouldBeNoExcept">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C30ToC37DestructorRules.C37C44C66C84ShouldBeNoExceptQuickFix"
            problemId="com.cevelop.gslator.problems.C.44NoexceptCtor">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.44NoexceptCtor">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C40ToC52ConstructorRules.C45_01DefaultInClassInitializeQuickFix"
            problemId="com.cevelop.gslator.problems.C.45InClassInitialize">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C40ToC52ConstructorRules.C45_02UseInClassInitializerForConstValsQuickFix"
            problemId="com.cevelop.gslator.problems.C.45InClassInitialize">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.45InClassInitialize">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C40ToC52ConstructorRules.C46C164DeclareFunctionExplicitQuickFix"
            problemId="com.cevelop.gslator.problems.C.46DeclareSingleCtorExplicit">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.46DeclareSingleCtorExplicit">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C40ToC52ConstructorRules.C47InitializeMemVarsInRightOrderQuickFix"
            problemId="com.cevelop.gslator.problems.C.47InitializeMemVarsInRightOrder">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.47InitializeMemVarsInRightOrder">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C40ToC52ConstructorRules.C48PreferInClassInitializerToCtorsQuickFix"
            problemId="com.cevelop.gslator.problems.C.48PreferInClassInitializerToCtorInit">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.48PreferInClassInitializerToCtorInit">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C40ToC52ConstructorRules.C49NoAssignmentsInCtorQuickFix"
            problemId="com.cevelop.gslator.problems.C.49NoAssignmentsInCtor">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.49NoAssignmentsInCtor">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C60ToC67CopyMoveRules.C60_01CopyAssignmentNonVirtualQuickFix"
            problemId="com.cevelop.gslator.problems.C.60_01CopyAssignmentNonVirtual">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.60_01CopyAssignmentNonVirtual">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C60ToC67CopyMoveRules.C60_02CopyAssignmentParameterByConstRefQuickFix"
            problemId="com.cevelop.gslator.problems.C.60_02CopyAssignmentParameterByConstRef">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.60_02CopyAssignmentParameterByConstRef">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C60ToC67CopyMoveRules.C60_03CopyAssignmentReturnByNonConstRefQuickFix"
            problemId="com.cevelop.gslator.problems.C.60_03CopyAssignmentReturnByNonConstRef">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.60_03CopyAssignmentReturnByNonConstRef">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C60ToC67CopyMoveRules.C63_01MoveAssignmentNonVirtualQuickFix"
            problemId="com.cevelop.gslator.problems.C.63_01MoveAssignmentNonVirtual">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.63_01MoveAssignmentNonVirtual">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C60ToC67CopyMoveRules.C63_02MoveAssignmentReturnByNonConstRefQuickFix"
            problemId="com.cevelop.gslator.problems.C.63_02MoveAssignmentReturnByNonConstRef">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.63_02MoveAssignmentReturnByNonConstRef">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C30ToC37DestructorRules.C37C44C66C84ShouldBeNoExceptQuickFix"
            problemId="com.cevelop.gslator.problems.C.66MoveOperationsNoExcept">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.66MoveOperationsNoExcept">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C80ToC89OtherDefaultOperationRules.C83_01ValueLikeTypesShouldHaveSwapQuickFix"
            problemId="com.cevelop.gslator.problems.C.83ValueLikeTypesShouldHaveSwap">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C80ToC89OtherDefaultOperationRules.C83_02SwapParamIsNotReferenceQuickFix"
            problemId="com.cevelop.gslator.problems.C.83ValueLikeTypesShouldHaveSwap">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.83ValueLikeTypesShouldHaveSwap">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C30ToC37DestructorRules.C37C44C66C84ShouldBeNoExceptQuickFix"
            problemId="com.cevelop.gslator.problems.C.84MakeSwapNoExcept">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.84MakeSwapNoExcept">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C80ToC89OtherDefaultOperationRules.C85NamespaceLevelSwapFunctionQuickFix"
            problemId="com.cevelop.gslator.problems.C.85NamespaceLevelSwapFunction">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.85NamespaceLevelSwapFunction">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.C40ToC52ConstructorRules.C46C164DeclareFunctionExplicitQuickFix"
            problemId="com.cevelop.gslator.problems.C.164AvoidConversionOperators">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.C.164AvoidConversionOperators">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.ES.26DontUseVariableForTwoUnrelatedPurposes">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.ES.09AvoidALLCAPSnames">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES05ToES34DeclarationRules.ES20AlwaysInitializeAnObjectQuickFix"
            problemId="com.cevelop.gslator.problems.ES.20AlwaysInitializeAnObject">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.ES.20AlwaysInitializeAnObject">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES40ToES64ExpressionRules.ES46_01UseNarrowQuickFix"
            problemId="com.cevelop.gslator.problems.ES.46AvoidLossyConversions">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES40ToES64ExpressionRules.ES46_02UseNarrowCastQuickFix"
            problemId="com.cevelop.gslator.problems.ES.46AvoidLossyConversions">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.ES.46AvoidLossyConversions">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES40ToES64ExpressionRules.ES49_01UseStaticCastQuickFix"
            problemId="com.cevelop.gslator.problems.ES.49IfMustUseNamedCast">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES40ToES64ExpressionRules.ES49_02UseReinterpretCastQuickFix"
            problemId="com.cevelop.gslator.problems.ES.49IfMustUseNamedCast">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.ES.49IfMustUseNamedCast">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES40ToES64ExpressionRules.ES50_01RemoveConstCastAndConstFromVariableQuickFix"
            problemId="com.cevelop.gslator.problems.ES.50DontCastAwayConst">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES40ToES64ExpressionRules.ES50_02RemoveConstCastAndMakeMembervarMutableQuickFix"
            problemId="com.cevelop.gslator.problems.ES.50DontCastAwayConst">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.ES.50DontCastAwayConst">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES70ToES86StatementRules.ES74DeclareLoopVariableInTheInitializerQuickFix"
            problemId="com.cevelop.gslator.problems.ES.74DeclareLoopVariableInTheInitializer">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.ES.74DeclareLoopVariableInTheInitializer">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES70ToES86StatementRules.ES75AvoidDoStatementsQuickFix"
            problemId="com.cevelop.gslator.problems.ES.75AvoidDoStatements">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.ES.75AvoidDoStatements">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.SetAttributeQuickFix"
            problemId="com.cevelop.gslator.problems.ES.76AvoidGoto">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES70ToES86StatementRules.ES76_01AvoidGotoUseNormalIfQuickFix"
            problemId="com.cevelop.gslator.problems.ES.76AvoidGoto">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES70ToES86StatementRules.ES76_02AvoidGotoUseWhileQuickFix"
            problemId="com.cevelop.gslator.problems.ES.76AvoidGoto">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES70ToES86StatementRules.ES76_03AvoidGotoUseBreakQuickFix"
            problemId="com.cevelop.gslator.problems.ES.76AvoidGoto">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
      <resolution
            class="com.cevelop.gslator.quickfixes.ES70ToES86StatementRules.ES76_04AvoidGotoUseLambdaReturnQuickFix"
            problemId="com.cevelop.gslator.problems.ES.76AvoidGoto">
            <info class="com.cevelop.gslator.infos.GslatorInfo"/>
      </resolution>
   </extension>
</plugin>
