<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.4" ?>
<plugin>

    <extension point="org.eclipse.cdt.codan.core.checkers"
          id="org.eclipse.cdt.codan.core.categories"
          name="%extensionCheckerCategory.name">
        <category id="com.cevelop.intwidthfixator.categories.IntwidthfixatorProblems"
      		name="%problemCategory.name"/>
    </extension>
    
    <!-- Defined markers -->
    <extension point="org.eclipse.core.resources.markers"
          id="com.cevelop.intwidthfixator.markers.informationalMarker"
          name="%extensionInformationalMarker.name">
        <super type="org.eclipse.cdt.codan.core.codanProblem"/>
        <persistent value="true"/>
    </extension>
    
    <extension point="org.eclipse.ui.editors.annotationTypes">
        <type markerType="com.cevelop.intwidthfixator.markers.informationalMarker"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="com.cevelop.intwidthfixator.markers.informationalAnnotation"
            markerSeverity="0"/>
    </extension>
    
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
              annotationType="com.cevelop.intwidthfixator.markers.informationalAnnotation"
              colorPreferenceKey="com.cevelop.intwidthfixator.info.keys.color"
              colorPreferenceValue="127,186,66"
              contributesToHeader="false"
              highlightPreferenceKey="com.cevelop.intwidthfixator.info.highlight"
              icon="resources/icons/fixated.png"
              includeOnPreferencePage="true"
              isGoToNextNavigationTarget="true"
              isGoToNextNavigationTargetKey="com.cevelop.intwidthfixator.info.keys.GoToNextNavigationTarget"
              isGoToPreviousNavigationTarget="true"
              isGoToPreviousNavigationTargetKey="com.cevelop.intwidthfixator.info.keys.GoToPreviousNavigationTarget"
              label="%markerAnnotation.Informational.label"
              overviewRulerPreferenceKey="com.cevelop.intwidthfixator.info.keys.overviewruler"
              overviewRulerPreferenceValue="true"
              presentationLayer="0"
              quickFixIcon="resources/icons/fixated_te.png"
              showInNextPrevDropdownToolbarAction="false"
              showInNextPrevDropdownToolbarActionKey="com.cevelop.intwidthfixator.info.keys.ShowInNextPrevDropdownToolbarAction"
              symbolicIcon="info"
              textPreferenceKey="com.cevelop.intwidthfixator.info.keys.text"
              textPreferenceValue="false"
              textStylePreferenceKey="com.cevelop.intwidthfixator.info.keys.textstyle"
              textStylePreferenceValue="PROBLEM_UNDERLINE"
              verticalRulerPreferenceKey="com.cevelop.intwidthfixator.info.keys.verticalruler"
              verticalRulerPreferenceValue="true"/>
    </extension>
    
    <!-- Checkers -->
    <extension point="org.eclipse.cdt.codan.core.checkers"
          name="%extensionCheckers.name">
        <checker id="com.cevelop.intwidthfixator.checkers.Checker"
      		class="com.cevelop.intwidthfixator.checkers.IntChecker"
      		name="%variableChecker.name">
            <problem id="com.cevelop.intwidthfixator.problems.variables.not-fixed-width"
        		category="com.cevelop.intwidthfixator.categories.IntwidthfixatorProblems"
        		defaultEnabled="true"
        		defaultSeverity="Info"
        		description="%variableProblem.description"
        		messagePattern="%variableProblem.messagePattern"
        		name="%variableProblem.name"
        		markerType="com.cevelop.intwidthfixator.markers.informationalMarker"/>
            <problem id="com.cevelop.intwidthfixator.problems.functions.not-fixed-width"
        		category="com.cevelop.intwidthfixator.categories.IntwidthfixatorProblems"
        		defaultEnabled="true"
        		defaultSeverity="Info"
        		description="%functionProblem.description"
        		messagePattern="%functionProblem.messagePattern"
        		name="%functionProblem.name"
        		markerType="com.cevelop.intwidthfixator.markers.informationalMarker"/>
            <problem id="com.cevelop.intwidthfixator.problems.templates.not-fixed-width"
        		category="com.cevelop.intwidthfixator.categories.IntwidthfixatorProblems"
        		defaultEnabled="true"
        		defaultSeverity="Info"
        		description="%templateProblem.description"
        		messagePattern="%templateProblem.messagePattern"
        		name="%templateProblem.name"
        		markerType="com.cevelop.intwidthfixator.markers.informationalMarker"/>
            <problem id="com.cevelop.intwidthfixator.problems.typedefs.not-fixed-width"
                category="com.cevelop.intwidthfixator.categories.IntwidthfixatorProblems"
                defaultEnabled="true"
                defaultSeverity="Info"
                description="%typedefProblem.description"
                messagePattern="%typedefProblem.messagePattern"
                name="%typedefProblem.name"
                markerType="com.cevelop.intwidthfixator.markers.informationalMarker"/>
            <problem id="com.cevelop.intwidthfixator.problems.casts.not-fixed-width"
                category="com.cevelop.intwidthfixator.categories.IntwidthfixatorProblems"
                defaultEnabled="true"
                defaultSeverity="Info"
                description="%castProblem.description"
                messagePattern="%castProblem.messagePattern"
                name="%castProblem.name"
                markerType="com.cevelop.intwidthfixator.markers.informationalMarker"/>
        </checker>
    </extension>
    
    <!-- Menu commands definition -->
    <extension point="org.eclipse.ui.commands"
          name="%extensionMenuCommands.name">
        <category id="com.cevelop.intwidthfixator.commands.actionscategory"
        	name="%commandsCategory.name"/>
        <command id="com.cevelop.intwidthfixator.commands.conversionCommand"
        	name="%unfixedToFixedCommand.name"
        	categoryId="com.cevelop.intwidthfixator.commands.actionscategory"/>
        <command id="com.cevelop.intwidthfixator.commands.inversionCommand"
        	name="%fixedToUnfixedCommand.name"
        	categoryId="com.cevelop.intwidthfixator.commands.actionscategory"/>
    </extension>
    <extension point="org.eclipse.ui.handlers"
          name="Handlers">
        <handler commandId="com.cevelop.intwidthfixator.commands.conversionCommand"
        	class="com.cevelop.intwidthfixator.handlers.MenuHandlerConversion"/>
        <handler commandId="com.cevelop.intwidthfixator.commands.inversionCommand"
             class="com.cevelop.intwidthfixator.handlers.MenuHandlerInversion"/>
    </extension>
    <extension point="org.eclipse.ui.bindings">
        <key commandId="com.cevelop.intwidthfixator.commands.conversionCommand"
        	contextId="org.eclipse.cdt.ui.cEditorScope"
        	sequence="M3+M2+F"
        	schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key commandId="com.cevelop.intwidthfixator.commands.inversionCommand"
        	contextId="org.eclipse.cdt.ui.cEditorScope"
        	sequence="M3+M2+U"
        	schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    </extension>
    
    <!-- Menu entry defintion -->
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="menu:org.eclipse.jdt.ui.refactoring.menu?endof=typeGroup"
        	allPopups="false">
            <command
              commandId="com.cevelop.intwidthfixator.commands.conversionCommand"
              mnemonic="%unfixedToFixedCommand.mnemonic"
              tooltip="%unfixedToFixedCommand.tooltip"/>
            <command
              commandId="com.cevelop.intwidthfixator.commands.inversionCommand"
              mnemonic="%fixedToUnfixedCommand.mnemonic"
              tooltip="%fixedToUnfixedCommand.tooltip"/>
        </menuContribution>

        <menuContribution locationURI="popup:org.eclipse.cdt.ui.refactoring.menu?endof=typeGroup"
        	allPopups="false">
            <command
              commandId="com.cevelop.intwidthfixator.commands.conversionCommand"
              mnemonic="%unfixedToFixedCommand.mnemonic"
              tooltip="%unfixedToFixedCommand.tooltip"/>
            <command
              commandId="com.cevelop.intwidthfixator.commands.inversionCommand"
              mnemonic="%fixedToUnfixedCommand.mnemonic"
              tooltip="%fixedToUnfixedCommand.tooltip"/>
        </menuContribution>
    </extension>
    
    <!-- Marker resolution for QuickFixes -->
    <extension point="ch.hsr.ifs.iltis.cpp.core.infoMarkerResolution"
          id="com.cevelop.intwidthfixator.markerResolution"
          name="%extensionMarkerResolution.name">
        <resolution problemId="com.cevelop.intwidthfixator.problems.variables.not-fixed-width"
            class="com.cevelop.intwidthfixator.quickfixes.IntQuickFix">
            <info class="com.cevelop.intwidthfixator.refactorings.conversion.ConversionInfo"/>
        </resolution>
        <resolution problemId="com.cevelop.intwidthfixator.problems.functions.not-fixed-width"
            class="com.cevelop.intwidthfixator.quickfixes.IntQuickFix">
            <info class="com.cevelop.intwidthfixator.refactorings.conversion.ConversionInfo"/>
        </resolution>
        <resolution problemId="com.cevelop.intwidthfixator.problems.templates.not-fixed-width"
            class="com.cevelop.intwidthfixator.quickfixes.IntQuickFix">
            <info class="com.cevelop.intwidthfixator.refactorings.conversion.ConversionInfo"/>
        </resolution>
        <resolution problemId="com.cevelop.intwidthfixator.problems.typedefs.not-fixed-width"
            class="com.cevelop.intwidthfixator.quickfixes.IntQuickFix">
            <info class="com.cevelop.intwidthfixator.refactorings.conversion.ConversionInfo"/>
        </resolution>
        <resolution problemId="com.cevelop.intwidthfixator.problems.casts.not-fixed-width"
            class="com.cevelop.intwidthfixator.quickfixes.IntQuickFix">
            <info class="com.cevelop.intwidthfixator.refactorings.conversion.ConversionInfo"/>
        </resolution>
    </extension>
    <extension point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator markerType="com.cevelop.intwidthfixator.markers.informationalMarker"
            class="ch.hsr.ifs.iltis.cpp.core.codan.marker.InfoProblemMarkerResolutionGenerator"/>
    </extension>
    
    <!-- Preferences -->
    <extension point="org.eclipse.core.runtime.preferences"
          id="preferences"
          name="%extensionPreferences.name">
        <initializer class="com.cevelop.intwidthfixator.preferences.PreferenceInitializer"/>
    </extension>
    <extension point="org.eclipse.ui.preferencePages">
        <page id="com.cevelop.intwidthfixator.preferences.PropertyAndPreferencePage"
              category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
              class="com.cevelop.intwidthfixator.preferences.PropertyAndPreferencePage"
              name="%preferencePage.name"/>
    </extension>
    
    <!-- Properties -->
    <extension point="org.eclipse.ui.propertyPages">
        <page id="com.cevelop.intwidthfixator.preferences.PropertyAndPreferencePage"
              class="com.cevelop.intwidthfixator.preferences.PropertyAndPreferencePage"
              icon="resources/icons/logo.png"
              name="%preferencePage.name">
            <filter name="nature"
                  value="org.eclipse.cdt.core.cnature"/>
            <enabledWhen>
                <instanceof value="org.eclipse.core.resources.IProject"/>
            </enabledWhen>
        </page>
    </extension>
   
    <!-- Refactorings -->
    <extension point="org.eclipse.ltk.core.refactoring.refactoringContributions"
          name="Refactoring Contribution">
        <contribution id="com.cevelop.intwidthfixator.refactoring.conversionrefactoring"
             class="com.cevelop.intwidthfixator.refactorings.conversion.ConversionRefactoringContribution"/>
        <contribution id="com.cevelop.intwidthfixator.refactoring.inversionrefactoring"
             class="com.cevelop.intwidthfixator.refactorings.inversion.InversionRefactoringContribution"/>
    </extension>
</plugin>
