<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.codan.core.checkers">
      <checker
            class="com.cevelop.namespactor.checkers.UsingChecker"
            id="com.cevelop.namespactor.checkers.UsingPosition">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Using directive in header file"
               id="com.cevelop.namespactor.checkers.problems.UDIRInHeader"
               messagePattern="Using directives in header files may have unintended side effects."
               name="Using directive in header file">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Using declaration in header file"
               id="com.cevelop.namespactor.checkers.problems.UDECInHeader"
               messagePattern="Using declarations in header files may have unintended side effects."
               name="Using declaration in header file">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Using directive before include statement"
               id="com.cevelop.namespactor.checkers.problems.UDIRBeforeInclude"
               messagePattern="Using directives before an #include may have unintended side effects."
               name="Using directive before include statement">
         </problem>
		 <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Using declarations before include statements"
               id="com.cevelop.namespactor.checkers.problems.UDECBeforeInclude"
               messagePattern="Using declarations before an #include may have unintended side effects."
               name="Using declarations before include statement">
         </problem>
		 <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Detects unqualified names in using directives"
               id="com.cevelop.namespactor.checkers.problems.UDIRUnqualified"
               messagePattern="Qualified names in using directives can lead to more readable code."
               name="Detects unqualified names in using directives">
         </problem>
		 <problem
		       category="com.cevelop.elevator.enhancements"
		       defaultEnabled="true"
		       defaultSeverity="Warning"
		       description="Detects typedefs to become alias declarations"
		       id="com.cevelop.namespactor.checkers.problems.Typedef2Alias"
		       messagePattern="Detects typedefs to become alias declarations"
		       name="Typedef replaceable with alias declarations">
		 </problem>         
      </checker>
	</extension>
	<extension
	      point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
	   <resolution
	             class="com.cevelop.namespactor.quickfix.InlineUsingQuickFix"
	             problemId="com.cevelop.namespactor.checkers.problems.UDIRInHeader">
	   </resolution>  
	   <resolution
	             class="com.cevelop.namespactor.quickfix.InlineUsingQuickFix"
	             problemId="com.cevelop.namespactor.checkers.problems.UDECInHeader">
	   </resolution> 
	   <resolution
	             class="com.cevelop.namespactor.quickfix.InlineUsingQuickFix"
	             problemId="com.cevelop.namespactor.checkers.problems.UDIRBeforeInclude">
	   </resolution>
	   <resolution
	             class="com.cevelop.namespactor.quickfix.InlineUsingQuickFix"
	             problemId="com.cevelop.namespactor.checkers.problems.UDECBeforeInclude">
	   </resolution>

	   <resolution
	             class="com.cevelop.namespactor.quickfix.MoveAfterIncludesQuickFix"
	             problemId="com.cevelop.namespactor.checkers.problems.UDIRBeforeInclude">
	   </resolution> 
	   <resolution
	             class="com.cevelop.namespactor.quickfix.MoveAfterIncludesQuickFix"
	             problemId="com.cevelop.namespactor.checkers.problems.UDECBeforeInclude">
	   </resolution>
	   
	   <resolution
	             class="com.cevelop.namespactor.quickfix.QualifyUDIRQuickFix"
	             problemId="com.cevelop.namespactor.checkers.problems.UDIRUnqualified">
	   </resolution>
       <resolution
             class="com.cevelop.namespactor.quickfix.Typedef2AliasQuickFix"
             messagePattern="Replace typedef with alias declaration"
             problemId="com.cevelop.namespactor.checkers.problems.Typedef2Alias">
       </resolution>	   	   	    
	</extension>
 <extension
       point="org.eclipse.cdt.ui.quickAssistProcessors">
    <quickAssistProcessor
          class="com.cevelop.namespactor.quickfix.NamespactorQuickAssistProcessor"
          id="com.cevelop.namespactor.checkers.quickAssistProcessor"
          name="typedef2aliasqa">
    </quickAssistProcessor>
 </extension>
</plugin>
