<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Cevelop for 2019-12" sequenceNumber="1581695261">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
      <unit id="org.eclipse.sdk.ide" version="4.14.0.I20191210-0610"/>
      <unit id="org.eclipse.equinox.launcher" version="1.5.600.v20191014-2022"/>
      <unit id="org.eclipse.ui.ide.application" version="1.3.500.v20191122-2109"/>
      <unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
      <repository location="http://download.eclipse.org/releases/2019-12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.sdk.feature.group" version="9.10.0.201912051559"/>
      <repository location="http://download.eclipse.org/tools/cdt/releases/9.10"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.testing.feature.group" version="0.0.0"/>
      <repository location="https://ci.eclipse.org/cdt/job/cdt-9.10/lastSuccessfulBuild/artifact/releng/org.eclipse.cdt.testing.repo/target/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ch.hsr.ifs.iltis.core.kotlin.feature.feature.group" version="2.5.0.202002140953"/>
      <unit id="ch.hsr.ifs.iltis.cpp.versionator.feature.feature.group" version="3.3.0.202002141322"/>
      <unit id="ch.hsr.ifs.iltis.cpp.core.feature.feature.group" version="3.3.0.202002141322"/>
      <unit id="ch.hsr.ifs.iltis.testing.cpp.feature.feature.group" version="2.4.0.202002141206"/>
      <unit id="ch.hsr.ifs.iltis.testing.highlevel.feature.feature.group" version="2.4.0.202002141412"/>
      <repository location="https://www.cevelop.com/iltis"/>
    </location>
  </locations>
</target>
