<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
    point="org.eclipse.ui.commands">
    <command
        categoryId="com.cevelop.templator.plugin.Templator"
        id="com.cevelop.templator.plugin.ShowTemplateInfoCommand"
        name="Show Template Information">
    </command>
    <category
        id="com.cevelop.templator.plugin.Templator"
        name="Templator">
    </category>
 </extension>
 <extension
    point="org.eclipse.ui.handlers">
    <handler
        class="com.cevelop.templator.plugin.handler.ShowTemplateInfoHandler"
        commandId="com.cevelop.templator.plugin.ShowTemplateInfoCommand">
    </handler>
 </extension>
 <extension
    point="org.eclipse.ui.bindings">
    <key
        commandId="com.cevelop.templator.plugin.ShowTemplateInfoCommand"
        contextId="org.eclipse.ui.contexts.window"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="M3+F8">
    </key>
 </extension>
 
 <extension
       point="org.eclipse.ui.views">    

    <view
          allowMultiple="false"
          category="org.eclipse.cdt.ui.views"
          class="com.cevelop.templator.plugin.view.tree.TreeTemplateView"
          id="com.cevelop.templator.plugin.view.tree.TreeTemplateView"
          name="Template Information"
          restorable="true">
    </view>
    
 </extension>
 
 <extension
      point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID = "org.eclipse.cdt.ui.CPerspective">
      <showInPart id = "com.cevelop.templator.plugin.view.tree.TreeTemplateView"/>
      </perspectiveExtension>
 </extension>

<extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
          class="com.cevelop.templator.plugin.preferences.TemplatorPreferencePage"
          id="com.cevelop.templator.plugin.preferences.TemplatorPreferencePage"
          name="Templator">
    </page>
 </extension>

</plugin>
