<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		id="product"
		point="org.eclipse.core.runtime.products">
		<product application="org.eclipse.ui.ide.workbench" name="Cevelop C++ IDE">
			<property name="appName" value="Cevelop C++ IDE"/>
			<property name="startupForegroundColor" value="000000"/>
			<property name="startupMessageRect" value="7,252,438,20"/>
			<property name="startupProgressRect" value="7,270,438,15"/>
			<property name="aboutText" value="%productBlurb"/>
			<property name="aboutImage" value="about.png"/>
			<property name="windowImages" value="eclipse16.png,eclipse32.png,eclipse48.png,eclipse256.png"/>
		</product>
	</extension>

	<extension
		point="org.eclipse.ui.startup">
		<startup
			class="com.cevelop.branding.startup.StartupHook">
		</startup>
	</extension>
	<extension
		point="org.eclipse.ui.intro">
		<intro
			class="org.eclipse.ui.intro.config.CustomizableIntroPart"
			id="com.cevelop.branding.intro"
			icon="eclipse16.png">
		</intro>
		<introProductBinding
			introId="com.cevelop.branding.intro"
			productId="com.cevelop.branding.product">
		</introProductBinding>
	</extension>
	<extension
		point="org.eclipse.ui.intro.config">
		<config
			content="introContent.xml"
			id="com.cevelop.branding.introConfigId"
			introId="com.cevelop.branding.intro">
			<presentation
				home-page-id="root">
				<implementation
					kind="html"
					os="win32,linux,macosx">
				</implementation>
			</presentation>
		</config>
	</extension>
</plugin>
