<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.cevelop.conanator.InstallHandler"
            id="conan.core.install"
            name="install">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="com.cevelop.conanator.menu.beginGroup">
         </separator>
         <command
               commandId="conan.core.install"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.cevelop.conanator.expressions.menuVisibility">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="com.cevelop.conanator.separator2">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.cevelop.conanator.preferences.ConanPreferencePage"
            id="com.cevelop.conan.core.preferences.ConanPreferencePage"
            name="Conan">
      </page>
      <page
            category="com.cevelop.conan.core.preferences.ConanPreferencePage"
            class="com.cevelop.conanator.preferences.ConanProfilesPreferencePage"
            id="com.cevelop.conan.core.preferences.ConanProfilePreferencePage"
            name="Profiles">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.cevelop.conanator.properties.ConanPropertyPage"
            id="com.cevelop.conan.core.properties.ConanProperties"
            name="Conan">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ITranslationUnit">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.cevelop.conanator.expressions.menuVisibility">
         <and>
            <with
                  variable="activePartId">
               <or>
                  <equals
                        value="org.eclipse.ui.navigator.ProjectExplorer">
                  </equals>
                  <equals
                        value="org.eclipse.jdt.ui.PackageExplorer">
                  </equals>
               </or>
            </with>
         </and>
      </definition>
   </extension>
</plugin>
